extends ../../layout/layout-white
block title
	title Амурский тигр
block content
	main(data-barba="container" data-barba-namespace="ui").inner
		.text
			.big-title  bold 128 ptx
			h1 h1 Unbounded light 82pt
			h2 h2 Unbounded Semibold 48 pt
			h3 h3 Unbounded Light 32/48
			h4 h4 Unbounded Medium 24/32
			p 
				b Manrope Semibold 16/28
			p Manrope Light 16/28
			label.input
				span.input__title ФИО
				input(placeholder="Иванов Иван Иванович",type="text")
			.btn-1 Больще новостей

