extends ../../layout/layout-white
block title
	title Спонсоры
block content
	main(data-barba="container" data-barba-namespace="sponsor").inner.sponsor-page
		+breadcrumb(['Главная'], 'Спонсоры')
		h1 Спонсоры
		.filter-block.block
			
			.overfolow-x
				.sponsor-page__filters.filters
					.filters__bg
					button.sponsor-page__filter.filters__button._active(type="button",data-filter="all") Все
					button.sponsor-page__filter.filters__button(type="button",data-filter="Генеральный спонсор") Генеральные
					button.sponsor-page__filter.filters__button(type="button",data-filter="Официальный спонсор") Официальные
					button.sponsor-page__filter.filters__button(type="button",data-filter="Специальный спонсор") Специальные


			.sponsor-page__grid.sponsor-grid
				+sponsor('Генеральный спонсор','АО «Россельхозбанк»','Один из крупнейших банков в России. Универсальный коммерческий банк, предоставляющий все виды банковских услуг и занимающий лидирующие позиции в финансировании агропромышленного комплекса России.','s-1.svg')
				+sponsor('Генеральный спонсор','Банк ВТБ','Российский коммерческий банк с государственным участием. Второй по величине активов банк России и первый по размеру уставного капитала.','s-2.svg')
				+sponsor('Генеральный спонсор','ПАО «Газпром»','Глобальная энергетическая компания. Основные направления деятельности — разведка, добыча, транспортировка, хранение, переработка и реализация газа и нефти, производство и сбыт тепло — и электроэнергии.','s-3.svg')
				+sponsor('Генеральный спонсор','ПАО «НК „Роснефть“','Крупнейшая публичная нефтегазовая корпорация мира. Основные направления деятельности — поиск, разведка, добыча, переработка и реализация нефти и газа.','s-4.svg')
				+sponsor('Генеральный спонсор','ОАО «РЖД»','Один из крупнейших банков в России. Универсальный коммерческий банк, предоставляющий все виды банковских услуг и занимающий лидирующие позиции в финансировании агропромышленного комплекса России.','s-5.svg')
				+sponsor('Официальный спонсор','БФ «Ренова»','Российский коммерческий банк с государственным участием. Второй по величине активов банк России и первый по размеру уставного капитала.','s-6.png')
				+sponsor('Официальный спонсор','ПАО «Русгидро»','Один из крупнейших российских энергетических холдингов. Лидер в производстве энергии на базе возобновляемых источников, развивающий генерацию на основе энергии водных потоков, солнца, ветра и геотермальной энергии.','s-7.svg')
				+sponsor('Официальный спонсор','ПАО «Россети»','Оператор энергетических сетей в России. Крупнейшая в России и мире энергетическая компания, обеспечивающая передачу и распределение электроэнергии.','s-8.svg')
				+sponsor('Официальный спонсор','ПАО «ФСК ЕЭС»','Российская энергетическая компания. Одна из крупнейших в мире по протяжённости линий и трансформаторной мощности публичных электросетевых компаний.','s-9.svg')
				+sponsor('Официальный спонсор','Михайловский ГОК','Михайловский ГОК','s-10.png')
				+sponsor('Официальный спонсор','Группа компаний «Ташир»','Российская промышленно-строительная группа. Основным направлением деятельности группы является строительство и управление коммерческой недвижимостью. Также работает в сфере финансов, энергетики, производства, гостиничного и ресторанного бизнеса.','s-11.png')
				+sponsor('Официальный спонсор','ПАО «Транснефть»','Российская транспортная компания, оператор магистральных нефтепроводов и нефтепродуктопроводов. Крупнейшая в мире нефтепроводная компания.','s-12.svg')
				+sponsor('Официальный спонсор','Госкорпорация «Росатом»','Российский государственный холдинг, объединяющий гражданские атомные компании, предприятия ядерного оружейного комплекса, научно-исследовательские организации, атомный ледокольный флот.','s-13.png')
				+sponsor('Официальный спонсор','АО «Техснабэкспорт»','Внешнеторговая компания госкорпорации «Росатом». Поставщик продукции ядерного топливного цикла, производимой предприятиями российской атомной отрасли. Компания является одним из крупнейших в мире экспортёров обогащённого уранового продукта и услуг по обогащению урана.','s-14.png')
				+sponsor('Официальный спонсор','ПАО «Ростелеком»','Российская телекоммуникационная компания. Крупнейший национальный провайдер цифровых сервисов. Предоставляет услуги широкополосного доступа в Интернет, интерактивного телевидения, сотовой связи, местной и дальней телефонной связи и др.','s-15.png')
				+sponsor('Официальный спонсор','Уральская горно-металлургическая компания (УГМК)','Российский горно-металлургический холдинг, крупнейший производитель меди, цинка, угля и драгоценных металлов в стране. В состав УГМК входят более 40 предприятий в России и за рубежом.','s-16.svg')
				+sponsor('Официальный спонсор','ПАО «ФосАгро»','Российская компания, один из ведущих мировых производителей минеральных удобрений. Основным направлением деятельности является производство фосфорсодержащих удобрений, высокосортного фосфатного сырья — апатитового концентрата, а также кормовых фосфатов, азотных удобрений и аммиака.','s-17.svg')
				+sponsor('Официальный спонсор','УРАЛХИМ','Одна из крупнейших компаний на рынке минеральных удобрений в Российской Федерации, СНГ и Восточной Европе. Компания является российским лидером в производстве аммиачной селитры, а также занимает второе место в России по объёмам производства аммиака и азотных удобрений.','s-18.png')
				+sponsor('Официальный спонсор','Фонд развития Дальнего Востока и Арктики','Акционерное общество, основанное в ноябре 2011 года по инициативе Президента РФ с целью поддержки инфраструктурных и промышленных проектов в дальневосточном и байкальском макрорегионах.','s-19.png')
				+sponsor('Специальный спонсор','ПАО «НОВАТЭК»','Один из крупнейших независимых производителей природного газа в России. Занимается разведкой, добычей, переработкой и реализацией природного газа и жидких углеводородов.','s-20.svg')
				+sponsor('Специальный спонсор','ПАО «Современный коммерческий флот»','Крупнейшая судоходная компания России, один из мировых лидеров в сфере морской транспортировки углеводородов, а также обслуживания шельфовой разведки и добычи нефти и газа.','s-21.png')
				+sponsor('Специальный спонсор','СИБУР','СИБУР — крупнейшая интегрированная нефтегазохимическая компания России и одна из наиболее динамично развивающихся компаний глобальной нефтегазохимии.','s-22.png')
				+sponsor('Специальный спонсор','Группа компаний Крокус (Crocus Group)','Одна из крупнейших компаний на рынке минеральных удобрений в Российской Федерации, СНГ и Восточной Европе. Компания является российским лидером в производстве аммиачной селитры, а также занимает второе место в России по объёмам производства аммиака и азотных удобрений.','s-23.png')
				+sponsor('Специальный спонсор','Сибирская угольная энергетическая компания (СУЭК)','Одна из крупнейших угольно-энергетических компаний мира, ведущий производитель угля, тепла и электроэнергии в России.','s-24.png')
				+sponsor('Специальный спонсор','«Газпромбанк» (Акционерное общество)','Один из крупнейших универсальных финансовых институтов России. Банк входит в тройку крупнейших банков России и занимает третье место в списке банков Центральной и Восточной Европы по размеру собственного капитала.','s-24.svg')
				+sponsor('Специальный спонсор','Группа компаний «ДОБРОФЛОТ»','Крупнейший рыбопромышленный холдинг Дальнего Востока. Осуществляет полный цикл производства: начиная с добычи рыбы, её переработки в море, осуществления морских перевозок, и заканчивая перевалкой и хранением рыбопродукции','s-25.png')
				+sponsor('Специальный спонсор','АО «СОГАЗ»','Крупнейшая универсальная страховая компания России, ключевой участник Группы «СОГАЗ» (Страховое общество газовой промышленности).','s-26.png')
				+sponsor('Специальный спонсор','ORGANIKA','Российский производитель водки. На логотипе торговой марки изображён амурский тигр, составленный з листьев кустарника саган-дайля','s-27.png')
