.pmenu {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 90;
	pointer-events: none;

	@media(max-width:992px) {
		transition: background 0.3s;
	}

	._pmenu-animate & {
		@media(max-width:992px) {
			background: #fff;
			transition-delay: 0s;
		}
	}

	&._pointer-events {
		@media(max-width:992px) {
			background: #fff;
		}

		pointer-events: initial;
	}

	&__bg {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		transition: opacity 0.3s;

		@media(max-width:992px) {
			display: none;
		}

		body._pmenu-animate & {
			opacity: 1;
			transition-delay: 1.5s;
		}

		img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&::after {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba($color: #000000, $alpha: 0.4);
			display: block;
			content: '';
		}
	}

	&__grid {

		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

		@media(max-width:992px) {
			display: block;
			height: 100%;

			padding-top: 180px;

			@media(max-height:715px) {
				padding-top: 80px;
			}
		}
	}

	&__item {
		padding: 150px 10px;

		@media(max-width:992px) {
			text-align: left;
			padding: 0;
		}

		&:first-child::after {
			display: none;
		}

		text-align: center;
		top: -100%;
		transition: top 1.5s;

		@media(max-width:992px) {
			transition: top 0s;
			opacity: 0;
			transition-delay: 0s;
		}

		body._pmenu-animate & {
			opacity: 1;
			top: 0;
			transition: top 1.5s;

			@media(max-width:992px) {
				transition: top 0.8s;


			}

			&:nth-child(1) {
				transition-delay: 0s;

			}

			&:nth-child(2) {
				transition-delay: 0.2s;

				@media(max-width:992px) {
					transition-delay: 0.05s;
				}
			}

			&:nth-child(3) {
				transition-delay: 0.4s;

				@media(max-width:992px) {
					transition-delay: 0.1s;
				}
			}

			&:nth-child(4) {
				transition-delay: 0.6s;

				@media(max-width:992px) {
					transition-delay: 0.15s;
				}
			}

			&:nth-child(5) {
				transition-delay: 0.8s;

				@media(max-width:992px) {
					transition-delay: 0.2s;
				}
			}

			&:nth-child(6) {
				transition-delay: 1s;

				@media(max-width:992px) {
					transition-delay: 0.25s;
				}
			}

			&:nth-child(7) {
				transition-delay: 1.2s;

				@media(max-width:992px) {
					transition-delay: 0.3s;
				}
			}
		}

		&:nth-child(1) {
			transition-delay: 0s;

		}

		&:nth-child(2) {
			transition-delay: 0.2s;

		}

		&:nth-child(3) {
			transition-delay: 0.4s;


		}

		&:nth-child(4) {
			transition-delay: 0.6s;

		}

		&:nth-child(5) {
			transition-delay: 0.8s;

		}

		&:nth-child(6) {
			transition-delay: 1s;


		}

		&:nth-child(7) {
			transition-delay: 1.2s;


		}

		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		&::before {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			transition: background 0.6s;
			background: #fff;
			display: block;
			content: '';

			@media(max-width:992px) {
				display: none;
			}
		}

		&::after {
			width: 1px;
			left: 0;
			height: 489px;
			top: 50%;
			display: block;
			transition: opcity 0.3s;
			content: '';
			position: absolute;
			transform: translateY(-50%);
			background: #ECECEC;

			@media(max-width:992px) {
				display: none;
			}
		}

		&:hover {
			&::before {
				background: transparent;
			}

			&::after {
				opacity: 0;
			}
		}
	}

	&__parent-list {
		@media(max-width:992px) {
			display: none !important;
		}

		li {
			margin-bottom: 10px;

			a {
				.pmenu__item:hover & {
					color: #fff
				}

				transition: color 0.3s;
				text-decoration: none;

				&:hover {
					color: $orange !important
				}

				font-weight: 400;
				font-size: 14px;
				line-height: 157%;
				text-align: center;
				color: #0E0E0E;
			}
		}
	}

	&__item-inner {
		min-height: 200px;
	}

	&__parent-link {
		color: $orange;
		margin-bottom: 30px;
		display: block;
		min-height: 48px;

		@media(max-width:992px) {
			min-height: 0;
			width: 341px;
			padding-right: 40px;
			position: relative;
			margin-bottom: 20px;
			font-weight: 600;
			font-size: 16px;
			line-height: 150%;
			text-transform: uppercase;
			color: #0E0E0E;
			background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.4 16.8002L15.2 12.0002L10.4 7.2002' stroke='%23E26D14' stroke-width='2'/%3E%3C/svg%3E%0A");
			background-position: right center;
			background-repeat: no-repeat;

			br {
				display: none;
			}
		}

	}

	&__parent-biglist {
		li {
			margin-bottom: 10px;
		}

		a {
			color: $black;

			@media(max-width:992px) {
				font-weight: 300;
			}
		}
	}

	&__parent-biglist a,
	&__parent-link {
		font-family: 'Unbounded';
		font-style: normal;
		font-weight: 600;
		text-transform: uppercase;
		font-size: 16px;
		line-height: 24px;
		text-decoration: none;
		transition: color 0.3s;

		.pmenu__item:hover & {
			color: #fff
		}

		&:hover {
			color: $orange !important
		}
	}

	&__footer {
		position: absolute;
		left: 0;
		bottom: 32px;
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 100%;
		opacity: 0;

		transition: opacity 0.3s;

		@media(max-width:992px) {
			flex-direction: column;
			align-items: flex-start;
		}


		body._pmenu-animate & {
			opacity: 1;
			transition-delay: 2s;
		}
	}

	&__contact {
		flex-direction: row;
		display: flex;
		margin-right: auto;
		font-size: 20px;
		line-height: 160%;

		@media(max-width:992px) {
			flex-direction: column;
			font-size: 16px;
			line-height: 24px;
			margin-bottom: 12px;
		}

		a {
			color: #0E0E0E;
			text-decoration: none;
			transition: color 0.3s;

			&:hover {
				color: $orange
			}
		}

		li:not(:last-child)::after {
			content: '|';
			color: #0E0E0E;
			margin: 0 20px;

			@media(max-width:992px) {
				display: none;
			}
		}
	}

	&__social {
		display: flex;
		flex-direction: row;
		gap: 20px;
		align-items: center;
	}
}

.pmenu__item-inner {
	@media(max-width:992px) {
		min-height: initial;
		width: 100%;
	}

	@media(max-width:992px) {
		padding: 0 20px;
	}

	@media(max-width:500px) {
		padding: 0 12px;
	}
}