extends ../../layout/layout
block title
	title  Жителям ареала тигра
block content
	main(data-barba="container" data-barba-namespace="default").inner
		+breadcrumb(['Главная'], 'Жителям ареала тигра?')._max-1024
		.block
			.page-top
				.page-top__bg
					+picture('ressident-areal','jpg')
				.page-top__content 
					+breadcrumb(['Главная'], 'Жителям ареала тигра')._min-1024
					h1 Жителям 
						br
						| ареала тигра
					.page-top__down.down-page
						<svg  viewBox="0 0 126 126" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path  class="down-page__circle"d="M63 1C28.7583 0.999999 1 28.7583 1 63C0.999999 97.2417 28.7583 125 63 125C97.2417 125 125 97.2417 125 63C125 28.7584 97.2417 1 63 1Z" />
							<path class="down-page__arrow" d="M72.9201 70.4401L63.0001 80.3601M63.0001 80.3601L53.0801 70.4401M63.0001 80.3601L63.0001 48.1201"  />
						</svg>

				.page-top__play
		.block.service-contacts
			h2 Контакты служб охотнадзора
				br
				| в ареале амурского тигра
			.service-contacts__scroll-wrap
				.service-contacts__slider-prev
						<svg width="34" height="22" viewBox="0 0 34 22" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M11.5609 20.92L1.64085 11M1.64085 11L11.5609 1.07996M1.64085 11L33.8809 11" stroke="white" stroke-width="2"/>
						</svg>
				.service-contacts__slider-next
					<svg width="34" height="22" viewBox="0 0 34 22" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M22.4391 1.07998L32.3591 11M32.3591 11L22.4391 20.92M32.3591 11L0.11914 11" stroke="white" stroke-width="2"/>
					</svg>
				.service-contacts__scroll
					.service-contacts__grid
						.service-contact
							.service-contact__title Приморский край
							p 
								a(href="tel:84232390990") 8 (423) 239–09–90
							p 
								a(href="tel:84232431998") 8 (423) 243–19–98
						.service-contact
							.service-contact__title Хабаровский край
							p  
								a(href="tel:+74212328219") +7 4212 32-82-19
							p 
								a(href="tel:+74212309302") +7 4212 30-93-02
						.service-contact
							.service-contact__title Еврейская автономная область
							p
								a(href="tel:84262246841") 8 (42622) 4–68–41
							p 
								a(href="tel:84262222873") 8 (42622) 2–28–73
						.service-contact
							.service-contact__title Амурская область
							p
								a(href="tel:+79145571590") +7 914 557-15-90
				
		.dark-text(data-aos="fade-up") 
				.dark-text__inner.text 
					h2 Заявление
					p Воспользуйтесь формой, чтобы сообщить нам о конфликтной ситуации с участием амурского тигра, о неправомерных действиях инспекторов, или об известных вам случаях браконьерства, незаконного хранения, скупки и сбыте диких животных и их частей.
					p 
						color._gray Если вы сообщаете о встрече или о конфликтной ситуации с участием амурского тигра, то оставьте контактные данные, чтобы с вами могли связаться для уточнения деталей. Во всех остальных случаях вы можете сохранить анонимность, но мы просим сообщать как можно больше подробностей, чтобы мы могли разобраться в ситуации и принять необходимые меры.
					button.btn-1(data-popup="#anon") Отправить обращение анонимно
				.dark-text__wh-b-space
			
		.white-block._pb-1
			.ra-block.block(data-aos="fade-up") 
				.ra-block__grid
					.ra-block__left
						h2 Программа компенсации ущерба
					.ra-block__right
					.ra-block__left.text
						p 
							color Программа компенсации ущерба, который амурский тигр нанёс сельскохозяйственным и домашним животным местных жителей, создана для того, чтобы исключить желание граждан мстить хищнику за утрату животных.
						p Программа компенсации — не государственная. Это добровольная инициатива Центра «Амурский тигр», которая реализуется благодаря поддержке организаций-спонсоров. Порядок, размер и лимиты возмещения закреплены внутренними документами нашей организации, которые не требуют согласования с кем-либо. Ущерб владельцам возмещают вне зависимости от того, кто виноват в нападении: тигр или же животное, ставшее его жертвой. Однако потери не компенсируются деньгами, только животными или кормами для них в соизмеримом понесённым потерям размере.
					.ra-block__right
						a.doc(href="#") 
							span Бланк заявления на получение компенсации
						a.doc(href="#") 
							span Алгоритм рассмотрения заявления на компенсацию
		
			.ra-block.block(data-aos="fade-up") 
				.ra-block__grid
					.ra-block__left
						h2 Рекомендации по поведению в местах обитания тигра
					.ra-block__right
					.ra-block__left.text
						p 
							color Главное, что надо знать, перед ознакомлением с «рекомендациями» – тигр никогда не нападёт на человека без веской причины и всегда «трижды подумает» прежде, чем напасть. Он не видит в человеке добычу, поэтому не следует путать попытку нападения с её демонстрацией.
						p Тигра можно отпугнуть сигнальной ракетой, фальшфейером, выстрелами в воздух, звоном металла (ударами по котелку или ведру). Его можно успокоить уверенным громким голосом. От него можно уйти, не суетясь  и не поворачиваясь к нему спиной. Отправляясь в лес, необходимо обеспечить себе связь с другими людьми, службами спасения и так далее — этот вопрос решается с помощью современных средств связи, иметь которые в походных условиях жизненно важно.
					.ra-block__right
						a.doc(href="#") 
							span Рекомендации по поведению в местах обитания амурского тигра