extends ../../layout/layout
block title
	title  Как помочь тигру?
block content
	main(data-barba="container" data-barba-namespace="default").inner.help-page
		+breadcrumb(['Главная'], 'Как помочь тигру?')._max-1024
		.block
			.page-top
				.page-top__bg
					+picture('help-1','jpg')
				.page-top__content 
					+breadcrumb(['Главная'], 'Как помочь тигру?')._min-1024
					h1 Как помочь тигру?
					p На сайте Центра «Амурский тигр» вы не найдете форму для пожертвований.
					.page-top__down.down-page
						<svg  viewBox="0 0 126 126" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path  class="down-page__circle"d="M63 1C28.7583 0.999999 1 28.7583 1 63C0.999999 97.2417 28.7583 125 63 125C97.2417 125 125 97.2417 125 63C125 28.7584 97.2417 1 63 1Z" />
							<path class="down-page__arrow" d="M72.9201 70.4401L63.0001 80.3601M63.0001 80.3601L53.0801 70.4401M63.0001 80.3601L63.0001 48.1201"  />
						</svg>

				.page-top__play
		.two-column.block(data-aos="fade-up")
			.two-column__left.text 
				.h4 Здесь мы рассказываем о наших совместных проектах с компаниями, которые перечисляют часть своей прибыли  на помощь природе или популяризируют охрану окружающей среду, а также  о территориях в ареале тигра, которые можно посетить и быть уверенным, что ваши средства, время и силы пойдут на благое дело.
			.two-column__right.text._gray
				p
					color Помочь амурскому тигру и тем самым стать ему другом можно по-разному. Все зависит от ваших возможностей, навыков и, конечно, желания. Поэтому на этой страничке мы также сделали форму для тех, кто хочет стать волонтером, вести научную деятельность в ареале тигра или устроиться на работу в одну из природоохранных организаций.
				p Кроме этого, нам можно просто написать письмо поддержки, прислать детский рисунок и подписаться на нас в социальных сетях.
		.white-block(data-aos="fade-up")
			h2 Наши друзья, которые уже 
				br
				| помогают амурскому тигру
			.filter-block.block
				.overfolow-x
					.filters
						.filters__bg
						button.filters__button._active(type="button",data-filter="all") Все
						button.filters__button(type="button",data-filter="Совместные проекты") Генеральные
						button.filters__button(type="button",data-filter="Путешествие в ареал тигра") Путешествие в ареал тигра
				.swiper-sponsor-mob._max-720
				.sponsor-grid._min-720
					+sponsor('','АО «Россельхозбанк»','Один из крупнейших банков в России. Универсальный коммерческий банк, предоставляющий все виды банковских услуг и занимающий лидирующие позиции в финансировании агропромышленного комплекса России.','hf-1.svg', link="#", filter="Совместные проекты")
					+sponsor('','Владивостокский рыбокомбинат','— делает отчисления в поддержку амурского тигра от продажи определенных наименований собственной продукции.','hf-2.png', link="#", filter="Совместные проекты")
					+sponsor('','BIOSOTA','— делает отчисления в поддержку амурского тигра от продажи определенных наименований собственной продукции.','hf-3.png', link="#", filter="Совместные проекты")
					+sponsor('','Почта России','— делает отчисления в поддержку амурского тигра от продажи открыток с изображением амурского тигра.','hf-4.svg', link="#", filter="Совместные проекты")
					+sponsor('','PRIME Snowboards','— выпустили модель сноуборда «Амурский тигр» и делает отчисления с их продажи в поддержку амурского тигра.','hf-5.png', link="#", filter="Совместные проекты")
					+sponsor('','Минеральная вода «Славда»','— выпускает тематическую питьевую воду с изображением амурского тигра.','hf-6.svg', link="#", filter="Путешествие в ареал тигра")
					+sponsor('','Экспобанк','— ввел в свою линейку новый продукт – вклад «Амур». Ежемесячно банк за счет собственных средств перечисляет в Центр 0,5% от суммы выплаченных по таким вкладам процентов.','hf-7.svg', link="#", filter="Путешествие в ареал тигра")
					+sponsor('','Дурминское лесоохотхозяйство','— первое частное охотхозяйство в Хабаровском крае, которое по сей день остается одним из образцовых. Специализация хозяйства — экологический туризм.','', link="#", filter="Путешествие в ареал тигра")
					+sponsor('','Лазовский заповедник','— при поддержке Центра «Амурский тигр» в бухте Петрова создан туристический кластер из 5 всесезонных и 10 летних домиков, купольного шатра для глэмпинга, жилой платформы и лекционного павильона. Все постройки переданы заповеднику. Средства, получаемые Лазовским заповедником от туристической деятельности, направляются на решение природоохранных задач, стоящих перед природной территорией.','hf-8.png', link="#", filter="Путешествие в ареал тигра")
			.become-friend-space
		.become-friend.block(data-aos="fade-up")
			.become-friend__bg
				+picture('help-2','jpg')
			.become-friend__content
				.h2 Стать другом и начать
					br
					| помогать тигру
				button.btn-1(data-popup="#feedback-popup") Стать другом 
		.two-column.block(data-aos="fade-up")
			.two-column__left.text 
				.h2 Стать волонтером 
					br
					| или устроиться  на работу
				button.btn-1._min-1024(data-popup="#job-popup") Отправить резюме
			.two-column__right.text
				p Вы хотите помогать амурскому тигру в качестве добровольца (в том числе в качестве медиаволонтера) или ваша мечта – трудоустроиться в природоохранную сферу в ареале амурского тигра? Пришлите нам ваше резюме! Мы узнаем, где сейчас открыты вакансии, какие там условия, и сообщим всю информацию вам. Если вы настроены серьезно, то мы рекомендуем вашу кандидатуру.
				button.btn-1._max-1024(data-popup="#job-popup") Отправить резюме
		.block.two-cards(data-aos="fade-up")
			.two-cards__card
				.two-cards__card-bg
					+picture('tc-1','jpg')
				.two-cards__card-content.text
					h2 Я научный работник и хочу изучать амурского тигра
					p Свою деятельность Центр осуществляет без бюджетного финансирования, исключительно благодаря спонсорской поддержке организаций и частных лиц.
					a(href="#").btn-1 Отправьте меня в тайгу скорее 
					a(href="#").two-cards__card-link 
						<svg width="57" height="57" viewBox="0 0 57 57" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle cx="28.5" cy="28.5" r="28.5" />
							<path d="M39.9893 18.4228H17.2295M39.9893 18.4228L17.2295 41.1826M39.9893 18.4228L39.9893 16.5L39.9893 41.1826" stroke-width="4"/>
						</svg>


			.two-cards__card
				.two-cards__card-bg
					+picture('tc-2','jpg')
				.two-cards__card-content.text
					h2 Уголок творчества
					p Присылайте нам рисунки, письма, открытки или любое другое творчество о тигре. Лучшие работы мы опубликуем на наших страничках в социальных сетях.
					a(href="#").btn-1 Отправить 
					a(href="#").two-cards__card-link 
						<svg width="57" height="57" viewBox="0 0 57 57" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle cx="28.5" cy="28.5" r="28.5" />
							<path d="M39.9893 18.4228H17.2295M39.9893 18.4228L17.2295 41.1826M39.9893 18.4228L39.9893 16.5L39.9893 41.1826" stroke-width="4"/>
						</svg>
		.subs(data-aos="fade-up")
			.text
				h2 Подпишитесь на нас в социальных сетях и станьте ближе к тигру
				ul.subs__links
					li 
						a(href="#")
							<svg width="46" height="29" viewBox="0 0 46 29" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M44.0649 2.15287C44.3768 1.03891 44.0649 0.21875 42.571 0.21875L37.6384 0.21875C36.3831 0.21875 35.8044 0.926702 35.4906 1.7081C35.4906 1.7081 32.982 8.22861 29.4286 12.4641C28.2786 13.6923 27.7562 14.082 27.1286 14.082C26.8148 14.082 26.3431 13.6923 26.3431 12.5763V2.15287C26.3431 0.814491 25.9973 0.21875 24.9526 0.21875L17.1956 0.21875C16.4121 0.21875 15.9404 0.838973 15.9404 1.42859C15.9404 2.69556 17.718 2.98935 17.9003 6.55564V14.3043C17.9003 16.0038 17.6128 16.3119 16.9852 16.3119C15.3128 16.3119 11.2445 9.7608 8.82989 2.26508C8.36199 0.80633 7.88846 0.21875 6.62758 0.21875L1.69119 0.21875C0.281865 0.21875 0 0.926702 0 1.7081C0 3.09952 1.6724 10.0117 7.78887 19.1539C11.8665 25.397 17.6072 28.7817 22.8367 28.7817C25.9729 28.7817 26.36 28.0309 26.36 26.7353V22.0163C26.36 20.5127 26.6569 20.2128 27.651 20.2128C28.3838 20.2128 29.6372 20.6045 32.5648 23.6138C35.9096 27.1821 36.4602 28.7817 38.343 28.7817H43.2757C44.685 28.7817 45.3915 28.0309 44.9856 26.5456C44.5384 25.0685 42.9412 22.9242 40.8234 20.3801C39.6734 18.9315 37.9484 17.3708 37.4242 16.5894C36.6932 15.5876 36.9018 15.1408 37.4242 14.2493C37.4242 14.2493 43.4373 5.2193 44.063 2.15287H44.0649Z" fill="white"/>
							</svg>
					li 
						a(href="#")
							<svg width="49" height="32" viewBox="0 0 49 32" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M47.2979 5.17201C47.0255 4.21611 46.495 3.35068 45.7627 2.66773C45.0097 1.96378 44.0868 1.46023 43.0812 1.2046C39.3174 0.228528 24.2382 0.228528 24.2382 0.228528C17.9518 0.158157 11.667 0.467666 5.41925 1.15531C4.41355 1.42982 3.49239 1.94462 2.7377 2.65393C1.99617 3.35592 1.45906 4.22157 1.17848 5.17004C0.50447 8.74257 0.176991 12.37 0.200456 16.0035C0.176406 19.6337 0.503082 23.26 1.17848 26.837C1.45305 27.7815 1.98815 28.6432 2.73169 29.3393C3.47523 30.0354 4.40114 30.5382 5.41925 30.8044C9.23314 31.7785 24.2382 31.7785 24.2382 31.7785C30.5325 31.849 36.8253 31.5394 43.0812 30.8517C44.0868 30.5961 45.0097 30.0925 45.7627 29.3886C46.4947 28.7058 47.0246 27.8402 47.2959 26.8843C47.9875 23.3131 48.3238 19.6842 48.2999 16.0489C48.352 12.3981 48.0161 8.75207 47.2979 5.17004V5.17201ZM19.4443 22.7552V9.25379L31.9902 16.0055L19.4443 22.7552Z" fill="white"/>
							</svg>
					li 
						a(href="#")
							<svg width="44" height="45" viewBox="0 0 44 45" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M22.2004 0.702148C10.1679 0.702148 0.402344 10.4677 0.402344 22.5002C0.402344 34.5327 10.1679 44.2982 22.2004 44.2982C34.2329 44.2982 43.9984 34.5327 43.9984 22.5002C43.9984 10.4677 34.2329 0.702148 22.2004 0.702148ZM32.3146 15.5248C31.9877 18.9689 30.5708 27.3393 29.8515 31.1976C29.5463 32.8324 28.9359 33.3774 28.3692 33.4428C27.1049 33.5518 26.1458 32.6144 24.9251 31.8079C23.0069 30.5436 21.917 29.7589 20.0642 28.5382C17.9062 27.1213 19.3012 26.3366 20.5437 25.0723C20.8707 24.7454 26.451 19.6664 26.56 19.2087C26.5751 19.1393 26.5731 19.0674 26.5541 18.999C26.5351 18.9306 26.4997 18.8679 26.451 18.8163C26.3202 18.7073 26.1458 18.7509 25.9932 18.7727C25.797 18.8163 22.7453 20.8435 16.7945 24.8543C15.9225 25.4429 15.1378 25.7481 14.4403 25.7263C13.6555 25.7045 12.1733 25.2903 11.0616 24.9197C9.6883 24.4838 8.6202 24.244 8.70739 23.4811C8.75098 23.0887 9.29593 22.6963 10.3204 22.2822C16.6855 19.5138 20.9143 17.6828 23.0287 16.8109C29.0885 14.2823 30.331 13.8464 31.1593 13.8464C31.3337 13.8464 31.7479 13.8899 32.0095 14.1079C32.2274 14.2823 32.2928 14.5221 32.3146 14.6965C32.2928 14.8273 32.3364 15.2196 32.3146 15.5248Z" fill="white"/>
							</svg>

