#feedback-popup.popup
	.popup__overlay 
	.popup__content.inner
		.popup__close  
			
		.popup__scroll 
			h2 Оставить заявку:
			form#form-feedback(data-error="#error-popup" data-success="#thanks-popup" action="/",method="post")
				label.input
					span.input__title ФИО
					input(placeholder="Иванов Иван Иванович",type="text" data-rule-required)
				label.input
					span.input__title Ваш электронный адрес
					input._mask-email(placeholder="mail@mail.ru",type="text" data-rule-required data-rule-email)
				label.input
					span.input__title Телефон
					input._mask-phone(placeholder="+7 XXX XX XX XX",type="text" data-rule-required )
				label.input
					span.input__title Комментарий
					textarea(name="comment") 
				._mt-auto 
					label.checkbox
						input(type="checkbox",name='agree' data-rule-required)
						.checkbox__indicator 
							<svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M1.5 4L4.5 6.5L8.5 1.5" stroke-width="2"></path>
							</svg>
						.checkbox__text Соглашаюсь с политикой конфиденциальности
					button.btn-1(type='submit') Отправить
#job-popup.popup
	.popup__overlay 
	.popup__content.inner
		.popup__close  
			
		.popup__scroll 
			h2 Отправьте резюме:
			form#form-job(data-error="#error-popup" data-success="#thanks-popup" action="/",method="post")
				label.input
					span.input__title ФИО
					input(placeholder="Иванов Иван Иванович",type="text" data-rule-required)
				label.input
					span.input__title Ваш электронный адрес
					input._mask-email(placeholder="mail@mail.ru",type="text" data-rule-email data-rule-required)
				label.input
					span.input__title Телефон
					input._mask-phone(placeholder="+7 XXX XX XX XX",type="text" data-rule-required)
				label.input
					span.input__title Комментарий
					textarea(name="comment")
				.file
					.file__inpt-wrap 
						input.file__input(  data-rule-required  data-rule-extension="jpg|png" data-rule-maxsize="1048576" data-name="file" type="file")
						.file__placeholder Прикрепите ваше резюме
						
				


				._mt-auto 
					label.checkbox
						input(type="checkbox",name='agree' data-rule-required)
						.checkbox__indicator 
							<svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M1.5 4L4.5 6.5L8.5 1.5" stroke-width="2"></path>
							</svg>
						.checkbox__text Соглашаюсь с политикой конфиденциальности
					button.btn-1(type='submit') Отправить
#thanks-popup.popup
	.popup__overlay 
	.popup__content.inner
		.popup__close  
			
		.popup__scroll 
			h2 Ваша заявка успешно отправлена!
#error-popup.popup
	.popup__overlay 
	.popup__content.inner
		.popup__close  
			
		.popup__scroll 
			h2 Ваша заявка успешно отправлена!