extends ../../layout/layout-white
block title
	title История здания Московского филиала
block content
	main(data-barba="container" data-barba-namespace="history").inner
		+breadcrumb(['Главная', 'Контакты'], 'История здания Московского филиала')
		.history.inner-big.text 
			.history__top
				h2 История здания Московского филиала
				+picture('history-4','jpg')
			.history__text.inner-small 
				.h4 «Все многочисленные строения нынешних домов под № 40 по Мясницкой улице некогда составляли два владения. Первое из них (восточное), известное с начала XVIII века, принадлежало купцу, владельцу шёлковой фабрики В.М. Евреинову. Второе (западное), более крупное, значилось за купцом-фабрикантом И.М. Полуярославцевым.
				p
					b В середине XVIII века оба владения приобрёл хозяин уральских заводов, крупнейший промышленник того времени Никита Акинфиевич Демидов. Большинство строений во владении были ветхими, небольшими, одноэтажными. Одно из них сохранилось до сих пор, хоть и в сильно изменённом виде. Это палаты Блюментростов (д. 40, стр. 4), или, как их ещё называли, Докторский корпус.
				p Лаврентий Алферович Блюментрост был немецким врачом на службе у царя Алексея Михайловича. Оба его сына также были врачами при царском дворе. Их палаты были построены ещё в XVII веке, реконструированы в XIX веке. В 19 веке они становятся собственностью Императорского Московского почтампа, который использовал строение как кладовую.
				p Последняя переделка, практически не оставившая следов подлинного фасада, произошла в 2000 году».
				.autor Автор текста: 
					a(href="#") Анастасия Соловьева
				+picture('history-3','jpg')
				.h4 Московский офис Центр «Амурский тигр» располагается в здании
					br
					| с 2015 года.
				p 18 августа 2017 года Центр установил возле него скульптурную композицию под названием «Играющие тигрята». Открытие приурочили ко дню рождения Русского географического общества, которое отмечало в этот день свое 172-летие.