body {
	font-family: 'Manrope';
	background-color: var(--bg);
	background-image: url('../img/noise.png');
	background-repeat: repeat;
	color: var(--color);
	transition: background 0.3s;
	--bg: #fff;
	--color: #0E0E0E;

	&[layout="white"] {
		--bg: #fff;
		--color: #0E0E0E;
	}

	&[layout="black"] {

		--bg: #0E0E0E;
		--color: #fff;

	}

	&._pmenu-animate,
	&._no-scroll {
		overflow: hidden;
	}
}

body {

	display: flex;
	padding-top: 100px;
	flex-direction: column;
	min-height: 100svh;
}

.page {
	overflow: hidden;
}

body img {
	max-width: 100%;
}

* {
	-webkit-box-decoration-break: clone;
	isolation: isolate;
}

.overfolow-x,
.inner {
	padding: 0 48px;

	@media(max-width:992px) {
		padding: 0 20px;
	}

	@media(max-width:500px) {
		padding: 0 12px;
	}
}

.pt1 {
	padding-top: 1px !important;
}

.overfolow-x {
	margin: 0 -48px;
	overflow-x: auto;
	max-width: 100vw;

	&::-webkit-scrollbar {
		display: none;
	}

	@media(max-width:992px) {
		margin: 0 -20px;
	}

	@media(max-width:500px) {
		margin: 0 -12px;
	}
}

.inner-big {
	max-width: 1118px;
	margin-left: auto;
	margin-right: auto;
}

.inner-small {
	max-width: 890px;
	margin-left: auto;
	margin-right: auto;
}

.autor {
	border-top: 1px solid #272727;
	padding-top: 30px;

	margin: 30px 0;

	a {
		color: var(--color);
		text-decoration: underline;
		text-underline-offset: under;

		&:hover {
			text-decoration: none;
		}
	}

	body[layout="white"] & {
		border-top: 1px solid #D1D1D1;
	}
}

.down-page {
	width: 124px;
	position: absolute;
	left: 39px;
	bottom: 39px;
	z-index: 3;

	&__circle,
	&__arrow {
		stroke: #fff
	}

	@media(max-width:992px) {
		width: 98px;
		left: 20px;
		bottom: 30px;
	}

	@media(max-width:700px) {
		width: 82px;
		left: 14px;
		bottom: 30px;
	}

	cursor: pointer;

	&:hover {
		.down-page__circle {
			fill: $orange;
			stroke: $orange;
		}
	}
}

.block {
	margin-bottom: 60px;

	@media(max-width:715px) {
		margin-bottom: 80px;
	}

	@media(min-width:720px) {
		margin-bottom: 110px;
	}

	@media(min-width:1441px) {
		margin-bottom: 140px;
	}
}

.two-column {
	display: grid;
	gap: 60px;
	grid-template-columns: 60% auto;

	@media(max-width:1024px) {
		grid-template-columns: 1fr;
		gap: 0;
	}

	&__right {
		color {
			font-weight: 600;
		}
	}
}

.two-column2 {
	display: grid;
	gap: 25px;
	grid-template-columns: 60% auto;

	&__right {

		&-br {
			padding: 40px 29px;
			border: 2px solid #E26D14;
		}

		p {

			font-style: normal;
			font-weight: 700;
			font-size: 16px;
			line-height: 28px;
		}
	}

	@media(max-width:1024px) {
		grid-template-columns: 1fr;
		gap: 20px;
	}
}

._gray p {
	color: #7D7D7D;
}

.white-block {
	background: #fff;
	position: relative;
	padding-top: 90px;
	--bg: #fff;
	--color: #0E0E0E;
	color: var(--color);

	@media(max-width:992px) {
		padding-top: 60px;
	}

	&::before {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		z-index: -1;
		display: block;
		content: '';
		top: 0;
		background: #fff;
		width: 100vw;
		height: 100%;

	}
}

color {
	color: $orange;
}

.two-cards {
	display: grid;
	grid-template-columns: 1fr 1fr;

	@media(max-width:719px) {
		grid-template-columns: 1fr;

	}

	&__card {
		overflow: hidden;
		position: relative;
		min-height: calc((100vw - 100px)/2 * 0.9);


		.btn-1 {
			margin-top: 20px;
			background: transparent;
		}

		--color: #fff;

		color: #fff;

		&._not-hover {
			--color: #0E0E0E;
			color: #0E0E0E;

			[layout="white"] & {
				color: #fff;

				.btn-1 {
					color: #fff
				}
			}
		}
	}

	&__card-link {
		position: absolute;
		right: 49px;
		bottom: 49px;

		@media(max-width:992px) {
			right: 24px;
			bottom: 24px;

			svg {
				width: 42px;
			}
		}

		path {
			stroke: $orange ;

			._not-hover & {
				stroke: #fff;
			}
		}

		circle {
			fill: #fff;

			._not-hover & {
				fill: $orange ;
			}
		}

		&::after {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			display: block;
			content: '';
		}
	}

	&__card-bg {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;

		img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: 1;
		}

		&::before {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			display: block;
			content: '';
			z-index: 2;
			background: rgba($color: #000000, $alpha: 0.5);
		}

		&::after {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 3;
			display: block;
			content: '';
			transition: opacity 0.3s;
			opacity: 0;

			._not-hover & {
				opacity: 1;
			}

			[layout="white"] & {
				background: $orange;
			}

			background-color: #fff;
			background-size: cover;
			background-image: url(../img/gray-pattern.svg);
		}
	}

	&__card-content {

		padding: 40px 24px;

		@media(min-width:992px) {
			padding: 100px 40px;
		}

		@media(min-width:1452px) {
			padding: 100px 60px;
		}
	}
}

.one-img {
	&__scroll {
		overflow: auto;
		max-height: calc(100vw * 0.4);
		min-height: 650px;

		img {
			max-width: 100%;
			max-height: initial !important;
			height: initial !important;
		}

		@media(max-width:992px) {

			max-height: 400px;
			min-height: 400px;

			&::-webkit-scrollbar {
				display: none;
			}

			img {

				max-width: initial;
				width: initial;
				min-width: 200%s;
			}
		}
	}

	img {
		width: 100%;
		object-fit: cover;
		min-height: 400px;
		max-height: calc(100svh - 150px);
	}

	p {
		font-weight: 300;
		font-size: 16px;
		line-height: 28px;
		color: #0E0E0E;
		margin-top: 20px;
	}
}

.page-top {
	position: relative;
	min-height: calc(100svh - 153px);

	color: #fff;

	&__down {}

	&__play {
		width: 57px;
		height: 57px;
		background: #fff;
		border-radius: 50%;
		right: 50px;
		bottom: 50px;
		position: absolute;
		cursor: pointer;

		&:hover::after {
			transform: scale(1.3);
		}

		&::after {
			display: block;
			content: '';
			width: 10px;
			height: 12px;
			position: absolute;
			left: 50%;
			top: 50%;
			transition: transform 0.3s;
			margin-top: -6px;
			margin-left: -5px;
			background-position: center;
			background-repeat: no-repeat;
			background-image: url("data:image/svg+xml,%3Csvg width='9' height='11' viewBox='0 0 9 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.49614 0.144933C1.18664 -0.0496122 0.806388 -0.0482153 0.498073 0.148599C0.189758 0.345413 0 0.707883 0 1.1V9.9C0 10.2921 0.189758 10.6546 0.498073 10.8514C0.806388 11.0482 1.18664 11.0496 1.49614 10.8551L8.49614 6.45507C8.80771 6.25922 9 5.89474 9 5.5C9 5.10526 8.80771 4.74078 8.49614 4.54493L1.49614 0.144933Z' fill='%23E26D14'/%3E%3C/svg%3E%0A");
		}
	}

	&__bg {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;

		video {
			z-index: 4;
		}

		video,
		img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&::after {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			display: block;
			content: '';
			background: rgba(0, 0, 0, 0.4);
		}
	}

	&__content {
		padding: 47px 30px 190px;

		@media(max-width:719px) {
			padding: 20px 14px 120px;
		}

		p {
			font-weight: 600;
			font-size: 16px;
			line-height: 28px;
			max-width: 600px;
		}

		.breadcrumb__link {}

		.breadcrumb__link-current {
			color: #fff;
		}

		h1,
		.h1 {
			margin-bottom: 10px;
		}
	}

}

.page-bg {
	position: relative;
	min-height: calc(100svh - 130px);

	color: #fff;

	&__bg {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;

		img {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&::after {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			display: block;
			content: '';
			background: rgba(0, 0, 0, 0.4);
		}
	}

	&__content {
		padding: 47px 30px 190px;

		@media(max-width:719px) {
			padding: 20px 14px 120px;
		}

		p {
			font-weight: 600;
			font-size: 16px;
			line-height: 28px;
			max-width: 650px;
		}

		.breadcrumb__link {}

		.breadcrumb__link-current {
			color: #fff;
		}

		h1,
		.h1 {
			margin-bottom: 10px;
		}
	}

}

.page-top-orange {
	background-image: url(../img/pattern-2.svg);
	background-color: $orange;
	background-position: center;
	padding: 50px 30px;
	margin-left: auto;
	margin-right: 97px;
	margin-top: -170px;
	max-width: calc(50% - 97px);

	img {
		margin-bottom: 65px;
	}

	@media(max-width:1400px) {
		margin-right: 40px;
		max-width: calc(50% - 40px);
	}

	@media(max-width:1400px) {

		img {
			margin-bottom: 65px;
		}
	}

	@media(max-width:1024px) {
		margin-top: 0;
		max-width: 100%;
		margin: 0;
	}

	@media(max-width:700px) {
		margin-top: 0;
		max-width: 100%;
		margin: 0 12px;
		padding: 30px 20px;

		img {
			width: 69px;
			margin-bottom: 50px;
		}

		.page-top+& {
			margin-top: -127px;
		}
	}
}

.page-top-black {
	background-image: url(../img/pattern-2.svg);
	background-color: $black;
	background-position: center;
	padding: 50px 30px;
	margin-left: auto;
	margin-right: 97px;
	margin-top: -170px;
	max-width: calc(50% - 97px);
	max-width: 725px;

	img {
		margin-bottom: 65px;
	}

	@media(max-width:1400px) {
		margin-right: 40px;
		max-width: calc(50% - 40px);
	}

	color:#fff;

	p {
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	@media(max-width:1400px) {

		img {
			margin-bottom: 65px;
		}
	}

	@media(max-width:1024px) {
		margin-top: 0;
		max-width: 100%;
		margin: 0;
	}

	big {
		font-weight: 600;
		font-size: 32px;
		line-height: 28px;
	}
}

.blackzone {
	--color: #fff;
	--bg: #0E0E0E;
	background: var(--bg);
	color: #fff;
	position: relative;
	padding-top: 90px;

	&::before {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		z-index: -1;
		display: block;
		content: '';
		top: 0;
		background: $black;
		width: 100vw;
		height: 100%;

	}
}

._fw-300 {
	font-weight: 300;
}

._max-720 {
	@media(min-width:780px) {
		display: none !important;
	}
}

._min-720 {
	@media(max-width:780px) {
		display: none !important;
	}
}

._max-1024 {
	@media(min-width:1024px) {
		display: none !important;
	}
}

._min-1024 {
	@media(max-width:1024px) {
		display: none !important;
	}
}

.two-photo {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;

	@media(min-width:700px) {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	@media(max-width:700px) {
		grid-template-columns: 1fr;
	}

	&__title {
		margin-top: 20px;

		@media(max-width:1024px) {
			display: none;
		}
	}

	&__card {
		&:first-child {

			transform: translateY(-50px);

			@media(max-width:700px) {
				transform: translateY(0px) !important;
				padding-top: 0;
				padding-right: 20%
			}
		}

		&:last-child {
			transform: translateY(50px);

			@media(max-width:700px) {
				transform: translateY(0px) !important;
				padding-top: 0;
				padding-left: 20%
			}
		}
	}

	&__img {
		img {
			width: 100%;
		}
	}
}

.btns-center {
	display: flex;
	flex-direction: row;
	gap: 20px;
	justify-content: center;
}

.page {
	overflow: hidden;
}

.page-head {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 40px;

	@media(max-width:1200px) {
		flex-direction: column;
		align-items: flex-start;

		.overfolow-x {
			margin-top: 20px;
		}
	}

	.h1,
	h1 {
		margin-right: auto;
		margin-bottom: 0;
	}
}

._mt-auto {
	margin-top: auto;
}

.doc {
	background: $orange;
	padding: 30px;
	margin-bottom: 20px;
	text-decoration: none;
	display: block;

	&:hover {
		background-color: $orangeD;
	}

	span {
		display: block;
		padding-left: 32px;
		position: relative;
		background-image: url("data:image/svg+xml,%3Csvg width='22' height='22' viewBox='0 0 22 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 14.4L7.20833 10.8M11 14.4L14.5 10.8M11 14.4V3M18 10.2V18H4V10.2' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
		background-position: left top;
		font-family: 'Unbounded';
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 20px;
		letter-spacing: -0.02em;
		color: #fff;
		background-repeat: no-repeat;
	}
}

._pb-1 {
	padding-bottom: 1px;
}

.accordions {
	margin-top: 40px;
}

.accordion {
	border-top: 1px solid #414042;

	[layout="white"] & {
		border-color: #D9D9D9 !important;
	}

	&:last-child {
		border-bottom: 1px solid #414042;
	}

	&__toogle {
		position: relative;
		width: 57px;
		height: 57px;
		margin-left: auto;
		border-radius: 50%;

		@media(max-width:992px) {
			width: 30px;
			height: 30px;
		}

		&::before,
		&::after {
			width: 24px;
			height: 2px;

			@media(max-width:992px) {
				width: 12px;
				margin-left: -6px;
			}

			left: 50%;
			top: 50%;
			margin-top: -1px;
			margin-left: -12px;
			content: '';
			display: block;
			position: absolute;

			.blackzone & {
				background: $orange !important;
			}

			[layout="black"] & {
				background: $orange ;
			}

			[layout="white"] & {
				background: #fff;
			}
		}

		&::before {
			transform: rotate(-90deg);

			.accordion._open & {
				display: none;
			}
		}


		[layout="white"] & {
			background: $orange;
		}

		.blackzone &,
		[layout="black"] & {
			background: #fff;
		}

		.accordion._open & {

			.blackzone &,
			[layout="black"] & {
				background: transparent;
				border: 1px solid $orange;
			}
		}
	}

	&__title {
		font-weight: 300;
		margin-bottom: 0 !important;

		@media(max-width:992px) {
			font-size: 24px;
		}

		.blackzone &,
		[layout="black"] & {
			color: $orange;
		}




		margin-bottom: 0;
	}

	&__head {
		padding-top: 50px;
		padding-bottom: 50px;
		display: flex;
		gap: 50px;
		cursor: pointer;

		@media(max-width:992px) {
			padding: 20px 0;
		}

	}

	&__content {
		display: none;
	}
}

.video {
	&__wrap {
		position: relative;
		margin-bottom: 20px;

		video {
			max-height: calc(100vh - 200px);
			object-fit: cover;
			width: 100%;
		}
	}

	&__play {
		width: 56px;
		height: 56px;
		position: absolute;
		left: 50%;
		background: #fff;
		border-radius: 50%;
		top: 50%;
		margin-left: -28px;
		margin-top: -28px;
		cursor: pointer;



		&::after {
			display: block;
			content: '';
			background-image: url("data:image/svg+xml,%3Csvg width='29' height='29' viewBox='0 0 29 29' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.4961 9.14493C12.1866 8.95039 11.8064 8.95178 11.4981 9.1486C11.1898 9.34541 11 9.70788 11 10.1V18.9C11 19.2921 11.1898 19.6546 11.4981 19.8514C11.8064 20.0482 12.1866 20.0496 12.4961 19.8551L19.4961 15.4551C19.8077 15.2592 20 14.8947 20 14.5C20 14.1053 19.8077 13.7408 19.4961 13.5449L12.4961 9.14493Z' fill='%23E26D14'/%3E%3C/svg%3E%0A");
			width: 30px;
			height: 30px;
			position: absolute;
			transition: transform 0.4s;
			margin-left: -15px;
			margin-top: -15px;
			left: 50%;
			top: 50%;

			.video__play-wrap:hover & {
				transform: scale(1.5);
			}
		}
	}

	&__play-wrap {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		cursor: pointer;
		height: 100%;
		background: rgba(0, 0, 0, 0.5);
		transition: background 0.3s;

		&:hover {
			background: rgba(0, 0, 0, 0.7);
		}
	}
}

.gray-box {
	background: #F5F5F5;
	padding-top: 100px;
	margin-top: -50px;
	position: relative;

	&::before {
		background: #F5F5F5;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		top: 0;
		width: 100vw;
		height: 100%;
		display: block;
		content: '';
		z-index: -1;
	}
}

button {
	font-family: 'Manrope';
}

._desc {
	@media(max-width:992px) {
		display: none;
	}
}