extends ../../layout/layout-white
block title
	title  Кто такой тигр
block content
	main(data-barba="container" data-barba-namespace="default").inner.who-page
		+breadcrumb(['Главная'], 'Кто такой тигр')
		h1 Кто такой тигр
		.block.one-img 
			+picture('who-1','jpg')
		.block(data-aos="fade-up").who-1
			.who-1__grid
				.who-1__left.who-1__title
					.h1._mb-0 
						color Амурский тигр — 
						br
						| самая большая кошка на  планете из ныне живущих
				.who-1__right.who-1__slider-wrap
					.who-1__slider.swiper
						.swiper-wrapper 
							.swiper-slide
								.who-1__slider-title >2,5 
									small м
								p Может достигать длина тела самца — от кончика носа –(и это без хвоста!), а высота в холке — около 120 см.
							.swiper-slide
								.who-1__slider-title 
									small до 
									| 180 
									small кг 
								p Средний вес дикого самца. Казалось бы, так не может быть, но на зиму тигр заметно прибавляет в весе за счёт увеличения слоя жировой ткани, необходимой ему для того, чтобы выжить в условиях сурового холода.
							.swiper-slide
								.who-1__slider-title 260 
									small кг
								p Встречаются особи по 260 кг и даже больше, правда, в наши дни такие гиганты — крайняя редкость.
							.swiper-slide
								.who-1__slider-title
									small до 
									| 160 
									small кг 
								p Тигрицы меньше самцов: длина тела обычно достигает 180 см при среднем весе от 140 до 160 кг.
						.who-1__pagy
				.who-1__left.text.who-1__text1
					p Хвост тигра в длину может достигать 1 м, а иногда и больше. Как и у всех кошачьих, он выступает своего рода балансиром. Бежит тигр, поворачивает вправо — а хвост отклоняет влево, чтобы  не «занесло». Ну и наоборот. Хвост всегда заканчивается чёрным кончиком и на большей своей части несёт поперечные полосы — кольца. Таких колец обычно бывает 10, но может быть и 8, и 9, и 11. У основания хвоста сплошных колец, как правило, нет, там они «размыкаются».
				.who-1__right.text._gray.who-1__text2
					p Лапы у амурского тигра короткие, хотя и длиннее,  чем у других подвидов тигра. Подушки лап, на которые тигр опирается при ходьбе, широкие, чтобы  не проваливаться в глубокий снег.
	
		.accordions(data-aos="fade-up").block
			.accordion
				.accordion__head
					.h2.accordion__title Шерсть
					.accordion__toogle
				.accordion__content
					.two-column2.block
						.two-column2__left.text 
							p самый высокий статус среди ООПТ. Здесь наиболее жёсткий режим охраны, запрещена любая экономическая деятельность. Основное предназначение — сохранение природных комплексов и объектов в качестве эталонов.
							p
								color._gray В заповедниках решается множество задач: научные отделы ведут наблюдения и изучают жизнь популяций отдельных видов — того же амурского тигра; проходят практику студенты и аспиранты профильных вузов — биологи, зоологи, ветеринары, будущие сотрудники лесного хозяйства; поддерживаются связи с международными природоохранными организациями, учебными заведениями, кинокомпаниями. Для населения и туристов (которых пускают не везде и только в сопровождении сотрудника заповедника) проводятся просветительские лекции и экскурсии.
					.block.two-photo
						.two-photo__card 
							.two-photo__img 
								+picture('wh-3','jpg') 
							.two-photo__title Тигрица в Лазовском заповеднике
						.two-photo__card 
							.two-photo__img 
								+picture('wh-4','jpg') 
							.two-photo__title Тигр в Сихотэ-Алинском заповеднике
	
			.accordion
				.accordion__head
					.h2.accordion__title Зрение
					.accordion__toogle
				.accordion__content
					.two-column2.block
						.two-column2__left.text 
							p как и заповедники, способствуют сохранению природных комплексов, уникальных объектов и участков, но перед ними стоят значительно более широкие задачи. Здесь приветствуется развитие экологического туризма, работы по восстановлению нарушенных природных комплексов и объектов, допускается определённая экономическая деятельность.
							p._gray Территории национальных парков разделены на разные по функциям зоны. Наиболее ценные участки — это фактически заповедники, где природная среда сохраняется в естественном состоянии и запрещается осуществление любой не предусмотренной законом деятельности. Выделяются также рекреационные, предназначенные для туризма и отдыха, зоны; зоны хозяйственного назначения: парком нужно управлять, и на его территории могут жить люди; а в зависимости от местных условий — и зоны промысловой охоты, которые поделены на участки, закреплённые преимущественно за представителями коренных малочисленных народов России.
						.two-column2__right
							.two-column2__right-br
								p Обратите внимание! 
									br
									br
									| Заповедники и нацпарки подчиняются напрямую Минприроды России, поэтому  их иногда называют «федеральными ООПТ». У каждого заповедника и нацпарка есть свои службы охраны.
					.block.video 
						.video__wrap
							video(src="video/placeholder.mp4" preload="metadata")
							.video__play-wrap 
								.video__play

						.video__desc Тигрицу Филиппу возвращают в дикую природу в заказнике «Дичун»
					.block.two-photo
						.two-photo__card 
							.two-photo__img 
								+picture('wh-5','jpg') 
							.two-photo__title Тигр в национальном парке «Бикин»
						.two-photo__card 
							.two-photo__img 
								+picture('wh-6','jpg') 
							.two-photo__title Тигр в национальном парке «Земля леопарда»
	
			.accordion
				.accordion__head
					.h2.accordion__title Слух
					.accordion__toogle
				.accordion__content
					.two-column2.block
						.two-column2__left.text 
							p как и заповедники, способствуют сохранению природных комплексов, уникальных объектов и участков, но перед ними стоят значительно более широкие задачи. Здесь приветствуется развитие экологического туризма, работы по восстановлению нарушенных природных комплексов и объектов, допускается определённая экономическая деятельность.
							p
								color._gray Территории национальных парков разделены на разные по функциям зоны. Наиболее ценные участки — это фактически заповедники, где природная среда сохраняется в естественном состоянии и запрещается осуществление любой не предусмотренной законом деятельности. Выделяются также рекреационные, предназначенные для туризма и отдыха, зоны; зоны хозяйственного назначения: парком нужно управлять, и на его территории могут жить люди; а в зависимости от местных условий — и зоны промысловой охоты, которые поделены на участки, закреплённые преимущественно за представителями коренных малочисленных народов России.
						.two-column2__right
							.two-column2__right-br
								p Обратите внимание! 
									br
									br
									| Заповедники и нацпарки подчиняются напрямую Минприроды России, поэтому  их иногда называют «федеральными ООПТ». У каждого заповедника и нацпарка есть свои службы охраны.
					.block.video 
						.video__wrap
							video(src="video/placeholder.mp4" preload="metadata")
							.video__play-wrap 
								.video__play
						.video__desc Тигрицу Филиппу возвращают в дикую природу в заказнике «Дичун»
					.block.two-photo
						.two-photo__card 
							.two-photo__img 
								+picture('wh-5','jpg') 
							.two-photo__title Тигр в национальном парке «Бикин»
						.two-photo__card 
							.two-photo__img 
								+picture('wh-6','jpg') 
							.two-photo__title Тигр в национальном парке «Земля леопарда»
		
			.accordion
				.accordion__head
					.h2.accordion__title Вибриссы
					.accordion__toogle
				.accordion__content
					.two-column2.block
						.two-column2__left.text 
							p самый высокий статус среди ООПТ. Здесь наиболее жёсткий режим охраны, запрещена любая экономическая деятельность. Основное предназначение — сохранение природных комплексов и объектов в качестве эталонов.
							p
								color._gray В заповедниках решается множество задач: научные отделы ведут наблюдения и изучают жизнь популяций отдельных видов — того же амурского тигра; проходят практику студенты и аспиранты профильных вузов — биологи, зоологи, ветеринары, будущие сотрудники лесного хозяйства; поддерживаются связи с международными природоохранными организациями, учебными заведениями, кинокомпаниями. Для населения и туристов (которых пускают не везде и только в сопровождении сотрудника заповедника) проводятся просветительские лекции и экскурсии.
					.block.two-photo
						.two-photo__card 
							.two-photo__img 
								+picture('wh-3','jpg') 
							.two-photo__title Тигрица в Лазовском заповеднике
						.two-photo__card 
							.two-photo__img 
								+picture('wh-4','jpg') 
							.two-photo__title Тигр в Сихотэ-Алинском заповеднике
	
			.accordion
				.accordion__head
					.h2.accordion__title Обоняние
					.accordion__toogle
				.accordion__content
					.two-column2.block
						.two-column2__left.text 
							p как и заповедники, способствуют сохранению природных комплексов, уникальных объектов и участков, но перед ними стоят значительно более широкие задачи. Здесь приветствуется развитие экологического туризма, работы по восстановлению нарушенных природных комплексов и объектов, допускается определённая экономическая деятельность.
							p._gray Территории национальных парков разделены на разные по функциям зоны. Наиболее ценные участки — это фактически заповедники, где природная среда сохраняется в естественном состоянии и запрещается осуществление любой не предусмотренной законом деятельности. Выделяются также рекреационные, предназначенные для туризма и отдыха, зоны; зоны хозяйственного назначения: парком нужно управлять, и на его территории могут жить люди; а в зависимости от местных условий — и зоны промысловой охоты, которые поделены на участки, закреплённые преимущественно за представителями коренных малочисленных народов России.
						.two-column2__right
							.two-column2__right-br
								p Обратите внимание! 
									br
									br
									| Заповедники и нацпарки подчиняются напрямую Минприроды России, поэтому  их иногда называют «федеральными ООПТ». У каждого заповедника и нацпарка есть свои службы охраны.
					.block.video 
						.video__wrap
							video(src="video/placeholder.mp4" preload="metadata")
							.video__play-wrap 
								.video__play

						.video__desc Тигрицу Филиппу возвращают в дикую природу в заказнике «Дичун»
					.block.two-photo
						.two-photo__card 
							.two-photo__img 
								+picture('wh-5','jpg') 
							.two-photo__title Тигр в национальном парке «Бикин»
						.two-photo__card 
							.two-photo__img 
								+picture('wh-6','jpg') 
							.two-photo__title Тигр в национальном парке «Земля леопарда»
	
		.gray-box.block._pb-1
			.two-column(data-aos="fade-up").block
				.two-column__left.text 
					.h4._fw-300 Тигр — большой молчун. Даже учёные-тигроведы, более полувека бродившие по местам его обитания, сталкивавшиеся со зверем на коротком расстоянии, вряд ли смогут похвалиться тем, что рёв зверя они слышали более десятка раз. Впрочем, и одного раза вполне достаточно, чтобы запомнить  его на всю жизнь: громоподобные раскаты, от которых действительно в жилах стынет кровь.

				.two-column__right._gray 
					p Странное испытываешь чувство, когда в ночи, где-то далеко, вдруг раздастся тигриное «А-а-уфф»! Зовущий, тоскующий клич. Потом всё ближе, уже совсем рядом…  и явное облегчение, когда зверь станет удаляться. Что это было? Что заставило молчуна звать кого-то? 
						br
						| И даже когда затихнет вдали этот рокот – «послевкусие» ощущения опасности проходит не скоро. Чуть чаще можно услышать тигриный рык — правда, передать  его на письме как «р-р-р» точно не получится. Скорее, короткое гортанное и рокочущее «у-э-у». Только слушать его в дикой природе в ночи точно не рекомендуем…
			include ../../layout/component/big-slider/big-slider
			.block
				h2 Тигр в деле
				.two-column2
					.two-column2__left.text 
						p Как и любая кошка, тигр кусает как компостер или дырокол: челюсти ходят только вверх-вниз, сжал — разжал. Двигать нижней челюстью влево и вправо, он не может. Клыки тигра — главное орудие убийства. Длина  и форма, умноженные на неимоверную по человеческим меркам силу сжатия челюстей, которую обеспечивает короткий, округлой формы череп, шансов жертве не оставляют. Ну а после тигр долго и смачно пирует — если добыча велика, пир может растянуться и на две недели. Прогулялся чуток неподалёку, вздремнул у жертвы — и опять за еду.
						p
							color._gray И что интересно: при наличии такой «мясорубки», тигр предпочитает не хапать мышцы жертвы кусками во всю пасть, как это делают волки, а вылизывать их. Причём делает это с большим наслаждением и весьма успешно, потому  как язык его — что рашпиль. По краям покрыт слегка ороговевшими «мясистыми сосочками», с помощью которых при старании килограмм мяса перекочёвывает в желудок за три-четыре минуты, и жевать не нужно.
					.two-column2__right
						.two-column2__right-br
							p Сила укуса тигра — 73.82 кг/см2, почти в два раза больше, чем у льва.
		.block.grow 
			.h1 Тигр растёт
			.grow-slider.swiper 
				.swiper-wrapper
					.swiper-slide
						.grow-slider__title 0–1 
							small мес.
						p  Через 100–107 дней после «тигриной свадьбы» на свет появляются слепые и беспомощные малыши весом до килограмма. Растут тигрята быстро. Через две недели прозревают, спустя 12–15 дней хорошо слышат и учатся ползать по логову и очень скоро превращаются в милых зверят. Поначалу мать кормит детёнышей исключительно молоком.
					.swiper-slide
						.grow-slider__title 1–3 
							small мес.
						p Через месяц тигрята делают первые вылазки за пределы логова. Они начинают постигать мир, постепенно расширяя радиус своих исследований. К трём месяцам  у них формируются молочные зубы, которые позволяют им питаться мясом.
					.swiper-slide
						.grow-slider__title 4–6 
							small мес.
						p В четыре месяца молодёжь уже следует за матерью «от добычи к добыче», которую тигрица старается «спроворить» неподалёку от родового гнёзда. До 5–6 месяцев мать подкармливает малышей молоком, поэтому не оставляет их надолго одних. Обычно это не более, чем два-три дня. Когда пища заканчивается, а мамы все нет — тигрята голодают и, если вдруг голодовка затягивается, нередко идут на поиски матери и могут погибнуть от истощения.
					.swiper-slide
						.grow-slider__title 7–8 
							small мес.
						p  Потребность выводка в пище быстро возрастает и время их одиночества увеличивается, так как матери приходится заботиться о более калорийном пропитании. Сами тигрята в охоте на крупную дичь не участвуют и можно сказать тунеядствуют почти до года. В этом возрасте у тигрят прорезываются коренные зубы.
					.swiper-slide
						.grow-slider__title 11–13 
							small мес.
						p Тигрята сами начинают уходить от матери, изучая окрестности и постепенно постигая тонкости добычи пропитания, и удаляясь при этом, порой, на значительные расстояния. Разлука с матерью может продолжаться даже две недели. Промышляют в основном зайцев, енотовидных собак, поросят — где что удастся. В возрасте 12–13 месяцев происходит окончательная смена молочных зубов  на постоянные.
					.swiper-slide
						.grow-slider__title 15–18 
							small мес.
						p Срок, на который тигрята могут уходить от тигрицы становится ещё продолжительнее. Разлуки уже становятся правилом и полу — торагодовалых зверят можно встретить за много километров от тигрицы. В этом возрасте хищники уже могут добывать косуль, оленят.
					.swiper-slide
						.grow-slider__title 22–24 
							small мес.
						p Тигрята выросли и начинают постигать премудрости самостоятельной жизни. С большой долей вероятности   их мать уже встречается с самцом, возникает новая беременность. Паре уже не до «тигрят», и самка отгоняет их. И вот молодые тигры, несмотря на то, что они ещё  не достигли максимальных физических пара — метров, отправляются на поиски своих собственных охотничьих  участков
				.grow-slider__prev
					<svg  viewBox="0 0 21 15" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M7.21564 13.4953L7.75473 14.0106L8.78535 12.9324L8.24625 12.4171L7.21564 13.4953ZM2 7.47811L1.48469 6.93902L0.920719 7.47811L1.48469 8.0172L2 7.47811ZM8.24625 2.53909L8.78535 2.02378L7.75473 0.9456L7.21564 1.46091L8.24625 2.53909ZM2.51531 8.0172L8.24625 2.53909L7.21564 1.46091L1.48469 6.93902L2.51531 8.0172ZM2 8.22387H20.6256V6.73235H2V8.22387ZM8.24625 12.4171L2.51531 6.93902L1.48469 8.0172L7.21564 13.4953L8.24625 12.4171Z"   />
					</svg>
				.grow-slider__next 
					<svg   viewBox="0 0 21 14" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M13.0043 12.3966L12.4652 12.9119L13.4958 13.9901L14.0349 13.4748L13.0043 12.3966ZM19.2506 7.4576L19.7659 7.99669L20.3299 7.4576L19.7659 6.91851L19.2506 7.4576ZM14.0349 1.4404L13.4958 0.925093L12.4652 2.00328L13.0043 2.51858L14.0349 1.4404ZM19.2506 6.71184H0.625V8.20336H19.2506V6.71184ZM14.0349 13.4748L19.7659 7.99669L18.7353 6.91851L13.0043 12.3966L14.0349 13.4748ZM19.7659 6.91851L14.0349 1.4404L13.0043 2.51858L18.7353 7.99669L19.7659 6.91851Z"   />
					</svg>
