extends ../../layout/layout-wb
block title
	title  Где живёт тигр
block content
	main(data-barba="container" data-barba-namespace="default").inner.where-page
		+breadcrumb(['Главная','Об Амурском тигре'], 'Где живёт тигр')
		h1 Где живёт тигр
		.block
			.page-top
				.page-top__bg
					+picture('where','jpg')
				.page-top__content 
			.page-top-black
				img(src="img/tigr-logo.svg",alt="#")
				p Амурский тигр обитает на территории Приморского и Хабаровского краёв, Еврейской автономной и Амурской областей. Общая площадь ареала тигра составляет
				p 
					big 
						color ~180 000 кв. км.
		.block(data-aos="fade-up")
			.text._gray._mw
				h2 Дворец  в 150 тыс. га
				p 
					color Родина амурского тигра — хвойно-широколиственные леса. Среди них тигр предпочитает маньчжурские уремы, в поймах южных рек. Это богатейшие лесные сообщества, в которых произрастают сотни видов растений. При чём тут растения, ведь тигр — не вегетарианец? Просто крайне важно, чтобы пищи хватало  тем видам животных, которые обеспечивают тигру жизнь.
				p В среднем по ареалу участок самца составляет 100 тыс. га., но при низкой плотности копытных на севере ареала достигает и 150 тыс. га. Участок самки в среднем 45 тыс. га. При обилии дичи эти величины могут быть вдвое меньше. Иногда звери уходят от своих угодий на 70–100 км. Возможно, для того чтобы засвидетельствовать почтение сородичам. Или на случай свадебных дел. А может быть — присмотреть новый участок, если с обжитого выжили люди или если самка уступает часть своего участка подросшей дочери.
		.block.two-photo(data-aos="fade-up")
			.two-photo__card 
				.two-photo__img 
					+picture('wh-1','jpg') 
				.two-photo__title Тигрица в Лазовском заповеднике
			.two-photo__card 
				.two-photo__img 
					+picture('wh-2','jpg') 
				.two-photo__title Тигрица в Лазовском заповеднике
		.block(data-aos="fade-up")
			h2 Приблизительная карта ареала:
			.one-img
				.one-img__scroll
					+picture('w-map','jpg')
				p Карта составлена на основании данных, собранных в ходе сплошного учёта амурского тигра 2015 г.
		.block(data-aos="fade-up").where-numbers
			h2 Важные цифры, которые стоит запомнить:
			.where-numbers__grid 
				.where-number
					.where-number__number._big 80%
					.where-number__desc ареала занимают охотничьи угодья
				.where-number
					.where-number__number._orange 20%
					.where-number__desc Особо охраняемые природные территории
		.blackzone
			.block(data-aos="fade-up")
				.two-column2
					.two-column2__left.text 
						.h2 Особо охраняемые природные территории
						p Согласно закону, особо охраняемые природные территории — это общее название всех участков земли, водной поверхности и воздушного пространства над ними, где располагаются природные комплексы  и объекты, которые имеют особое природоохранное, научное, культурное, эстетическое, рекреационное   оздоровительное значение, которые изъяты решениями органов государственной власти полностью  или частично из хозяйственного использования и для которых установлен режим особой охраны.
						p
							color._gray Как мы уже говорили, ООПТ — это общее название большой сети, которая включает в себя разные категории. Заповедники, национальные парки, природные заказники и природные парки, экологические коридоры —  это все категории особо охраняемых природных территорий. У каждой из категорий разный статус, режим охраны и посещения.
					.two-column2__right
						.two-column2__right-br
							p Охота на особо охраняемых территориях, в зависимости от их категории, либо полностью запрещена, либо ограничена.
				.accordions(data-aos="fade-up").block
					.accordion
						.accordion__head
							.h2.accordion__title Заповедники
							.accordion__toogle
						.accordion__content
							.two-column2.block
								.two-column2__left.text 
									p самый высокий статус среди ООПТ. Здесь наиболее жёсткий режим охраны, запрещена любая экономическая деятельность. Основное предназначение — сохранение природных комплексов и объектов в качестве эталонов.
									p
										color._gray В заповедниках решается множество задач: научные отделы ведут наблюдения и изучают жизнь популяций отдельных видов — того же амурского тигра; проходят практику студенты и аспиранты профильных вузов — биологи, зоологи, ветеринары, будущие сотрудники лесного хозяйства; поддерживаются связи с международными природоохранными организациями, учебными заведениями, кинокомпаниями. Для населения и туристов (которых пускают не везде и только в сопровождении сотрудника заповедника) проводятся просветительские лекции и экскурсии.
							.block.two-photo
								.two-photo__card 
									.two-photo__img 
										+picture('wh-3','jpg') 
									.two-photo__title Тигрица в Лазовском заповеднике
								.two-photo__card 
									.two-photo__img 
										+picture('wh-4','jpg') 
									.two-photo__title Тигр в Сихотэ-Алинском заповеднике
			
					.accordion
						.accordion__head
							.h2.accordion__title Национальные парки
							.accordion__toogle
						.accordion__content
							.two-column2.block
								.two-column2__left.text 
									p как и заповедники, способствуют сохранению природных комплексов, уникальных объектов и участков, но перед ними стоят значительно более широкие задачи. Здесь приветствуется развитие экологического туризма, работы по восстановлению нарушенных природных комплексов и объектов, допускается определённая экономическая деятельность.
									p._gray Территории национальных парков разделены на разные по функциям зоны. Наиболее ценные участки — это фактически заповедники, где природная среда сохраняется в естественном состоянии и запрещается осуществление любой не предусмотренной законом деятельности. Выделяются также рекреационные, предназначенные для туризма и отдыха, зоны; зоны хозяйственного назначения: парком нужно управлять, и на его территории могут жить люди; а в зависимости от местных условий — и зоны промысловой охоты, которые поделены на участки, закреплённые преимущественно за представителями коренных малочисленных народов России.
								.two-column2__right
									.two-column2__right-br
										p Обратите внимание! 
											br
											br
											| Заповедники и нацпарки подчиняются напрямую Минприроды России, поэтому  их иногда называют «федеральными ООПТ». У каждого заповедника и нацпарка есть свои службы охраны.
							.block.video 
								.video__wrap
									video(src="video/placeholder.mp4" preload="metadata")
									.video__play-wrap 
										.video__play

								.video__desc Тигрицу Филиппу возвращают в дикую природу в заказнике «Дичун»
							.block.two-photo
								.two-photo__card 
									.two-photo__img 
										+picture('wh-5','jpg') 
									.two-photo__title Тигр в национальном парке «Бикин»
								.two-photo__card 
									.two-photo__img 
										+picture('wh-6','jpg') 
									.two-photo__title Тигр в национальном парке «Земля леопарда»
			
					.accordion
						.accordion__head
							.h2.accordion__title ООПТ регионального
								br
								| назначения
							.accordion__toogle
						.accordion__content
							.two-column2.block
								.two-column2__left.text 
									p как и заповедники, способствуют сохранению природных комплексов, уникальных объектов и участков, но перед ними стоят значительно более широкие задачи. Здесь приветствуется развитие экологического туризма, работы по восстановлению нарушенных природных комплексов и объектов, допускается определённая экономическая деятельность.
									p
										color._gray Территории национальных парков разделены на разные по функциям зоны. Наиболее ценные участки — это фактически заповедники, где природная среда сохраняется в естественном состоянии и запрещается осуществление любой не предусмотренной законом деятельности. Выделяются также рекреационные, предназначенные для туризма и отдыха, зоны; зоны хозяйственного назначения: парком нужно управлять, и на его территории могут жить люди; а в зависимости от местных условий — и зоны промысловой охоты, которые поделены на участки, закреплённые преимущественно за представителями коренных малочисленных народов России.
								.two-column2__right
									.two-column2__right-br
										p Обратите внимание! 
											br
											br
											| Заповедники и нацпарки подчиняются напрямую Минприроды России, поэтому  их иногда называют «федеральными ООПТ». У каждого заповедника и нацпарка есть свои службы охраны.
							.block.video 
								.video__wrap
									video(src="video/placeholder.mp4" preload="metadata")
									.video__play-wrap 
										.video__play
								.video__desc Тигрицу Филиппу возвращают в дикую природу в заказнике «Дичун»
							.block.two-photo
								.two-photo__card 
									.two-photo__img 
										+picture('wh-5','jpg') 
									.two-photo__title Тигр в национальном парке «Бикин»
								.two-photo__card 
									.two-photo__img 
										+picture('wh-6','jpg') 
									.two-photo__title Тигр в национальном парке «Земля леопарда»
				.two-column2(data-aos="fade-up").block
					.two-column2__left.text 
						.h2 Охотничьи угодья
						p Как мы уже говорили, охотугодья занимают 80% ареала тигра. На тигра охотится нельзя, а вот на не некоторых других животных, например, на кабана, можно. Однако это можно делать только в соответствии с правилами и законами, установленными государством.
						p
							color._gray Охотничьи угодья бывают закреплёнными или общедоступными. Закреплённые охотугодья чаще всего управляются каким-то предпринимателем — охотпользователем. В этом случае такие угодья часто называют охотхозяйством. Общедоступные угодья управляются напрямую государством. Содержание охотхозяйства — большая ответственность. По закону именно охотпользователи проводят на управляемых ими угодьях мероприятия  по сохранению и увеличению численности копытных животных и среды их обитания, предупреждению и борьбе с их болезнями.
					.two-column2__right
						.two-column2__right-br
							p братите внимание! 
								br
								br
								| Охота на тигра в нашей стране полностью запрещена с 1947 г. Неважно, заповедник это, заказник, охотугодье или просто участок леса вдоль дороги.
				include ../../layout/component/big-slider/big-slider
				.two-column(data-aos="fade-up").block
					.two-column__left.text 
						.h4 Охотпользователи организуют и проводят на территории своих хозяйств биотехнические мероприятия: техникой расчищают лесные дороги, обустраивают солонцы и подкормочные площадки.

					.two-column__right._gray 
						p 
							color Эти меры помогают копытным животным пережить наиболее тяжёлое время года и спастись в суровые многоснежные зимы. 
								br
								| Высокая численность кабана, оленя и изюбра почти наверняка гарантирует мирное сосуществование тигра с человеком. Поэтому в экономически сильных охотхозяйствах копытных животных хватает и тигру, и охотникам.
						p За соблюдением правил и законов охоты на всех видах охотничьих угодий и региональных ООПТ следят службы по охране животного мира. Сокращённо их называют «Госохотнадзор» или просто «охотнадзор». Например, охотнадзор Приморского края.
				.page-top(data-aos="fade-up").block
					.page-top__bg
						+picture('hunter','jpg')
					.page-top__content.text
						.h1 Охотиться 
							br
							| на тигра
							br
							| нельзя
							br
							| нигде
						p Охоту на полосатого хищника запретили ещё в 1947 г. 
						p Сейчас убийство тигра наказывается лишением свободы сроком до 9 лет лишения свободы и штрафом до 3 млн рублей.
			include ../../layout/component/footer/footer
		