extends ../../layout/layout-white
block title
	title Амурского тигра вернули в дикую природу
block content
	main(data-barba="container" data-barba-namespace="news-detail").inner.page-news
		+breadcrumb(['Главная', 'Пресс-центр'], 'Амурского тигра вернули в дикую природу')
		.news-detail.inner-big.text 
			.news-detail__top
				h1.h2 Амурского тигра вернули в дикую природу
				ul.news-detail__tags
					li 11.01.2023 
					li Новости
				+picture('news-detail-1','jpg')
			.news-detail__text.inner-small 
				.h4 Амурского тигра, которого отловили в феврале 2022 года, вернулся в тайгу спустя 3 месяца реабилитации. Его новым «домом» стал заказник с говорящим названием «Таёжный»  в Красноармейском районе Приморского края. Здесь высокая численность копытных животных, а место выпуска значительно удалено от населённых пунктов.
				p Выпуск тигра стал возможен благодаря Центру «Амурский тигр», Министерству лесного хозяйства и охраны объектов животного мира Приморского края и МРОО «Центр реабилитации тигров и других редких животных».
				p Напомним, конфликтный тигр в течение двух недель в феврале 2022 года совершал нападения на собак в окрестностях села Верхний Перевал Приморского края. В ночь с 25 на 26 число хищника отловили, отвезли в центр реабилитации и осмотрели. У тигра была рваная рана на передней лапе и сломан один из клыков. Возраст тигра 20–24 месяца.
				p
					b Рану на лапе зашили, и она вскоре зажила, а сломанный клык пришлось удалить. От варианта   с протезированием отказались, так как зверь ещё молодой и костная ткань его челюсти   ещё не сформировалась. Специалисты просят не беспокоится за способность хищника охотиться без одного клыка — тигры и с тремя клыками отлично добывают пропитание.
				blockquote
					p «Тигр был в том возрасте, когда он отделился от матери и искал собственный охотничий участок. Начало самостоятельной жизни совпало с многоснежным периодом зимы, отрицательными температурами, а также тем, что в районе, где его отловили, низкая численность копытных животных, вызванная вспышкой Африканской чумы свиней. 
						br
						| В своих странствиях тигр наткнулся на несанкционированную свалку бытовых отходов, откуда беспризорные собаки привели его в населённый пункт, где он стал охотиться уже на собак на привязи. В ходе этого „промысла“ тигр и получил ряд травм
					q — рассказывает генеральный директор Центра «Амурский тигр» Сергей Арамилев
				+picture('news-detail-2','jpg')
				blockquote
					p «Удерживать жертву тигру помогают крепкие передние лапы с длинными когтями и поэтому  для того, чтобы прокусить жертве позвонки и обеспечить быстрое её умерщвление, трёх клыков более, чем достаточно. Уверены, что у тигра в дикой природе все будет хорошо,
					q — рассказывает генеральный директор Центра «Амурский тигр» Сергей Арамилев
					p — Также из практики мы знаем, что в наших климатических условиях очень редко когда у тигра старше пяти лет нет сломов на клыках. Они могут повреждать их о крепкие стволы деревьев, когда промахиваются на охоте».
				p Теперь ни рана на лапе, ни сломанный клык не причиняют хищнику неудобств. В центре реабилитации тигра продемонстрировал умение самостоятельно охотиться на копытных животных, успешно совершив семь охот. 
					br
					| По отношению к человеку он также вёл себя, как и полагается дикому зверю — был скрытен и затаивался, когда чувствовал присутствие людей и признаки человеческой деятельности.
				p Положительная динамика реабилитации показала, что тигра можно возвращать в дикую природу. Решение об этом было принято на заседании специальной комиссия. Место для выпуска подобрали на основе анализа данных, полученных в ходе проведения сплошного учёта тигра зимой 2021/22. Время выпуска — конец мая — также выбрано не просто так. К этому моменту в тайге значительно больше объектов питания: енотовидные собаки и барсуки уже очнулись от зимнего сна, а копытные животные принесли потомство.
				p Положительные результаты тестов, характеристику на тигра и потенциальное место выпуска направили в Росприроднадзор, который одобрил возвращение хищника в дикую природу.
				blockquote
					p «Подбирая место для выпуска, мы в первую очередь принимали во внимание следующие факторы: удалённость от населённых пунктов, достаточная кормовая база, хорошая охрана территории   и отсутствие на местности других самцов тигра, — говорит первый заместитель министра лесного хозяйства и охраны объектов животного мира Приморского края Алексей Суровый. — Всем этим требованиям соответствует территория на границе с заказником „Таёжный“ в Красноармейском районе. Данные по плотности копытных и наличии других тигров здесь мы получили в том числе   в ходе сплошного учёта тигра, а постоянную охрану животного мира обеспечивает охотнадзор, который базируется на кордоне „Мельничное“, и егерская служба охотпользователя».
				p Вечером 26 мая в вольере в центре реабилитации инспектор охотнадзора Приморского края обездвижил тигра выстрелом из дистанционного инъектора. Специалисты провели ветеринарный осмотр хищника, взвесили его, надели на него спутниковый ошейник и поместили в транспортировочную клетку. На месте выпуска её створка открылась, и тигр скрылся в тайге.
				.img-slider.swiper
					.swiper-wrapper 
						.swiper-slide 
							+picture('news-detail-3','jpg')
						.swiper-slide 
							+picture('news-detail-2','jpg')
						.swiper-slide 
							+picture('news-detail-1','jpg')
						.swiper-slide 
							+picture('news-detail-3','jpg')
						.swiper-slide 
							+picture('news-detail-2','jpg')
						.swiper-slide 
							+picture('news-detail-1','jpg')
						.swiper-slide 
							+picture('news-detail-3','jpg')
						.swiper-slide 
							+picture('news-detail-2','jpg')
						.swiper-slide 
							+picture('news-detail-1','jpg')
					.img-slider__pagi 
					.img-slider__nav
						.img-slider__prev
							<svg class="_desc" width="21" height="32" viewBox="0 0 21 32" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M16.8789 3.99962L4.00086 15.8045L16.8789 27.6094" stroke="" stroke-width="5" stroke-linecap="square"/>
							</svg>
							<svg class="_mob" width="36" height="24" viewBox="0 0 36 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M11.7706 22.7229L12.4934 23.4139L13.8754 21.9681L13.1525 21.2771L11.7706 22.7229ZM2 12L1.30902 11.2771L0.552783 12L1.30902 12.7229L2 12ZM13.1525 2.72287L13.8754 2.03189L12.4934 0.586146L11.7706 1.27713L13.1525 2.72287ZM13.1525 21.2771L2.69098 11.2771L1.30902 12.7229L11.7706 22.7229L13.1525 21.2771ZM2.69098 12.7229L13.1525 2.72287L11.7706 1.27713L1.30902 11.2771L2.69098 12.7229ZM2 13H36V11H2V13Z" fill=""/>
							</svg>


						.img-slider__next
							<svg class="_desc" width="21" height="32" viewBox="0 0 21 32" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M4.12109 27.4711L16.9991 15.6662L4.12109 3.86133" stroke="" stroke-width="5" stroke-linecap="square"/>
							</svg>
							<svg class="_mob" width="36" height="24" viewBox="0 0 36 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M22.8475 21.2771L22.1246 21.9681L23.5066 23.4139L24.2294 22.7229L22.8475 21.2771ZM34 12L34.691 12.7229L35.4472 12L34.691 11.2771L34 12ZM24.2294 1.27713L23.5066 0.586146L22.1246 2.03189L22.8475 2.72287L24.2294 1.27713ZM24.2294 22.7229L34.691 12.7229L33.309 11.2771L22.8475 21.2771L24.2294 22.7229ZM34.691 11.2771L24.2294 1.27713L22.8475 2.72287L33.309 12.7229L34.691 11.2771ZM34 11H0V13H34V11Z" fill=""/>
							</svg>


				p 
					b После выпуска за тигром будут наблюдать при помощи GPS-ошейника, который на него надели, а также в ходе полевых заверок данных с электронного устройства. Центр «Амурский тигр» будет на регулярной основе публиковать материалы о процессе адаптации хищника в дикой природе. Попечительство над тигром взяла компания GRASS. Генеральный директор компании Михаил Грачев посетил процедуру возвращения хищника в дикую природу.
				p Отметим, что отечественными специалистами накоплен уникальный опыт по реабилитации и реинтродукции амурских тигров. Пока что безымянный тигр стал уже четырнадцатым по счёту хищником, которого, начиная с 2013 года, вернули в дикую природу при поддержке Центра «Амурский тигр». Другие тринадцать это Сайхан, Лазовка и Филиппа в Еврейской автономной области; Павлик, Елена, Санда и Амба в Амурской области; Владик, Артём, Зима и Горный в Приморском крае, тигр Упорный и безымянная взрослая хищница в Хабаровском крае.
				p Из естественной среды обитания животных изымают в связи с ранениями, травмами, заболеваниями и другими факторами, которые либо представляют угрозу для их собственных жизней, либо несут потенциал  для возникновения конфликтных ситуаций: заходы в населённые пункты, нападения на сельскохозяйственных  и домашних животных.
				p Если зверь болен, его лечат, а если истощён — откармливают. Во время реабилитации его учат самостоятельно охотиться и прививают навык избегать людей и опасаться признаков человеческой деятельности. Если хищник «сдаёт выпускные экзамены», его возвращают в дикую природу.
				p Реабилитация и реинтродукция тигра станет одной из важных тем для обсуждения на втором Международном форуме по сохранению тигра, который состоится 5 сентября во Владивостоке. Данное направление работы актуально для всех странах ареала редкого хищника, где усиливающийся антропогенный натиск на дикую природу, вызванный экономическим развитием и освоением территорий, приводит к росту конфликтных ситуаций между тигром и человек.
				p Задача профильных организаций — оперативно прибывать на место негативного соприкосновения дикой природы с людьми и при необходимости быстро и безопасно изымать дикое животное, оказывать ему помощь и возвращать его в дикую природу. Россия является лидером по этому направлению деятельности.
				blockquote
					p «Я сам хотел стать лесником или экологом, так как очень люблю дикую природу, лес и животных. Когда появилась идея о защите редких животных, мы хотели сотрудничать с одной известной природоохранной организацией, но после обсуждения деталей поняли, что увидеть эффект  от потраченных нами средств будет очень сложно, так как наше сотрудничество не предполагало выезд в конкретный заповедник, и мы не могли увидеть результат.
					p  Мы решили поменять формат и сейчас сотрудничаем с Центром «Амурский тигр», Алтайским заповедником, питомником «Сайгак» и «Приокско-Террасным заповедником» — и помогаем именно тем, в чем они нуждаются. Я выезжаю в каждый заповедник, общаюсь напрямую с сотрудниками, спрашиваю про потребности и проблемы, и как мы можем помочь. Это отличная возможность быть причастным к восстановлению редких и исчезающих животных»
					q  — поясняет Сергей Арамилев.
		.another-news.block 
			h2 Другие новости
			.news-grid
				+news('Дальневосточный институт университета прокуратуры РФ  и центр «Амурский тигр» подписали соглашение о сотрудничестве','19.01.2023', 'Новости','n-1')
				+news('Идёт отбор участников в студенческий отряд «Тигр» 2023','17.01.2023', 'Новости','n-2')
				+news('Амба вернулась в Амурскую область из Китая','11.01.2023', 'Новости','n-3',)
