extends ../../layout/layout-white
block title
	title Библиотека
block content
	main(data-barba="container" data-barba-namespace="default").inner.library-page
		+breadcrumb(['Главная'], 'Библиотека')
		.filter-block(data-pagecount="8")
			.page-head
				h1 Библиотека
				div
					.overfolow-x
						.filters
							.filters__bg
							button.filters__button._active(type="button",data-filter="all") Библиотека
							button.filters__button(type="button",data-filter="Все материалы") Для всех
							button.filters__button(type="button",data-filter="Для специалистов") Специалистам
							button.filters__button(type="button",data-filter="Для детей и родителей") Детям
							button.filters__button(type="button",data-filter="Отчёты") Отчёты
			.library-slider.swiper 
				.swiper-wrapper 
					.swiper-slide
						.library-slider__item
							.library-slider__item-grid 
								.library-slider__item-photo 
									+picture('lib-1','jpg')
								.library-slider__item-content
									.library-slider__item-category Для детей и родителей
									.library-slider__item-title Журнал «Мурзилка»
									.library-slider__item-desc 
										p Специальный «тигриный» номер журнала «Мурзилка», приуроченный к празднованию Дня тигра во Владивостоке.
					.swiper-slide
						.library-slider__item._gray-bg
							.library-slider__item-grid 
								.library-slider__item-photo 
									+picture('lib-2','jpg')
								.library-slider__item-content
									.library-slider__item-category Для детей и родителей
									.library-slider__item-title «У меня дома живёт амурский тигр»
									.library-slider__item-desc 
										p Сборник лучших писем и рисунков, поданных  на конкурс детских писем «Лучший урок письма»  в номинации «У меня дома живёт амурский тигр».
					.swiper-slide
						.library-slider__item._orange-bg
							.library-slider__item-grid 
								.library-slider__item-photo 
									+picture('lib-3','jpg')
								.library-slider__item-content
									.library-slider__item-category Для детей и родителей
									.library-slider__item-title Сборник сказок «Полоска к полоске»
									.library-slider__item-desc 
										p Сборник из 10 сказок, написанных детьми: юные авторы сочиняли сказки для проекта детского издательства «Совёнок»
					.swiper-slide
						.library-slider__item
							.library-slider__item-grid 
								.library-slider__item-photo 
									+picture('lib-1','jpg')
								.library-slider__item-content
									.library-slider__item-category Для детей и родителей
									.library-slider__item-title Журнал «Мурзилка»
									.library-slider__item-desc 
										p Специальный «тигриный» номер журнала «Мурзилка», приуроченный к празднованию Дня тигра во Владивостоке.
					.swiper-slide
						.library-slider__item._gray-bg
							.library-slider__item-grid 
								.library-slider__item-photo 
									+picture('lib-2','jpg')
								.library-slider__item-content
									.library-slider__item-category Для детей и родителей
									.library-slider__item-title «У меня дома живёт амурский тигр»
									.library-slider__item-desc 
										p Сборник лучших писем и рисунков, поданных  на конкурс детских писем «Лучший урок письма»  в номинации «У меня дома живёт амурский тигр».
					.swiper-slide
						.library-slider__item._orange-bg
							.library-slider__item-grid 
								.library-slider__item-photo 
									+picture('lib-3','jpg')
								.library-slider__item-content
									.library-slider__item-category Для детей и родителей
									.library-slider__item-title Сборник сказок «Полоска к полоске»
									.library-slider__item-desc 
										p Сборник из 10 сказок, написанных детьми: юные авторы сочиняли сказки для проекта детского издательства «Совёнок»

			.library-grid
				+library('lib-4' , category="Для широкого круга","Амурский тигр. Некоронованный властелин тайги",link="#")
				+library('' , category="Для специалистов","Сборник докладов I Тихоокеанского юридического форума",link="#")
				+library('lib-5' , category="Для специалистов","Материалы конференции «Противодействие экологическим преступлениям»",link="#")
				+library('' , category="Для специалистов","Сборник докладов I Тихоокеанского юридического форума",link="#")
				+library('lib-6' , category="Для детей и родителей","Приключения тигрёнка Амурчика",link="#")
				+library('lib-7' , category="Для детей и родителей","Сборник сказок «Тигриные истории»",link="#")
				+library('lib-8' , category="Для детей и родителей","Каталог работ выставки «Тигриная история» (категория «Дети»)",link="#")
				+library('lib-9' , category="Для широкого круга","Амурский тигр. Домыслы, легенды, факты. Том 1",link="#")
				+library('lib-4' , category="Для широкого круга","Амурский тигр. Некоронованный властелин тайги",link="#")
				+library('' , category="Для специалистов","Сборник докладов I Тихоокеанского юридического форума",link="#")
				+library('lib-5' , category="Для специалистов","Материалы конференции «Противодействие экологическим преступлениям»",link="#")
				+library('' , category="Для специалистов","Сборник докладов I Тихоокеанского юридического форума",link="#")
				+library('lib-6' , category="Для детей и родителей","Приключения тигрёнка Амурчика",link="#")
				+library('lib-7' , category="Для детей и родителей","Сборник сказок «Тигриные истории»",link="#")
				+library('lib-8' , category="Для детей и родителей","Каталог работ выставки «Тигриная история» (категория «Дети»)",link="#")
				+library('lib-9' , category="Для широкого круга","Амурский тигр. Домыслы, легенды, факты. Том 1",link="#")
				+library('lib-4' , category="Для широкого круга","Амурский тигр. Некоронованный властелин тайги",link="#")
				+library('' , category="Для специалистов","Сборник докладов I Тихоокеанского юридического форума",link="#")
				+library('lib-5' , category="Для специалистов","Материалы конференции «Противодействие экологическим преступлениям»",link="#")
				+library('' , category="Для специалистов","Сборник докладов I Тихоокеанского юридического форума",link="#")
				+library('lib-6' , category="Для детей и родителей","Приключения тигрёнка Амурчика",link="#")
				+library('lib-7' , category="Для детей и родителей","Сборник сказок «Тигриные истории»",link="#")
				+library('lib-8' , category="Для детей и родителей","Каталог работ выставки «Тигриная история» (категория «Дети»)",link="#")
				+library('lib-9' , category="Для широкого круга","Амурский тигр. Домыслы, легенды, факты. Том 1",link="#")
				+library('lib-4' , category="Для широкого круга","Амурский тигр. Некоронованный властелин тайги",link="#")
				+library('' , category="Для специалистов","Сборник докладов I Тихоокеанского юридического форума",link="#")
				+library('lib-5' , category="Для специалистов","Материалы конференции «Противодействие экологическим преступлениям»",link="#")
				+library('' , category="Для специалистов","Сборник докладов I Тихоокеанского юридического форума",link="#")
				+library('lib-6' , category="Для детей и родителей","Приключения тигрёнка Амурчика",link="#")
				+library('lib-7' , category="Для детей и родителей","Сборник сказок «Тигриные истории»",link="#")
				+library('lib-8' , category="Для детей и родителей","Каталог работ выставки «Тигриная история» (категория «Дети»)",link="#")
				+library('lib-9' , category="Для широкого круга","Амурский тигр. Домыслы, легенды, факты. Том 1",link="#")
			button.library-more.btn-1(type="button",data-filtermore) Показать ещё