extends ../../layout/layout-white
block title
	title Библиотека
block content
	main(data-barba="container" data-barba-namespace="default").inner.library-page
		+breadcrumb(['Главная'], 'Библиотека')
		.filter-block(data-pagecount="8")
			.page-head
				h1 Библиотека
				div
					.overfolow-x
						.filters
							.filters__bg
							button.filters__button._active(type="button",data-filter="all") Библиотека
							button.filters__button(type="button",data-filter="Все материалы") Для всех
							button.filters__button(type="button",data-filter="Для специалистов") Специалистам
							button.filters__button(type="button",data-filter="Для детей и родителей") Детям
							button.filters__button(type="button",data-filter="Отчёты") Отчёты
			.library-slider.swiper 
				.swiper-wrapper 
					.swiper-slide
						.library-slider__item
							.library-slider__item-grid 
								.library-slider__item-photo 
									+picture('lib-1','jpg')
								.library-slider__item-content
									.library-slider__item-category Для детей и родителей
									.library-slider__item-title Журнал «Мурзилка»
									.library-slider__item-desc 
										p Специальный «тигриный» номер журнала «Мурзилка», приуроченный к празднованию Дня тигра во Владивостоке.
					.swiper-slide
						.library-slider__item._gray-bg
							.library-slider__item-grid 
								.library-slider__item-photo 
									+picture('lib-2','jpg')
								.library-slider__item-content
									.library-slider__item-category Для детей и родителей
									.library-slider__item-title «У меня дома живёт амурский тигр»
									.library-slider__item-desc 
										p Сборник лучших писем и рисунков, поданных  на конкурс детских писем «Лучший урок письма»  в номинации «У меня дома живёт амурский тигр».
					.swiper-slide
						.library-slider__item._orange-bg
							.library-slider__item-grid 
								.library-slider__item-photo 
									+picture('lib-3','jpg')
								.library-slider__item-content
									.library-slider__item-category Для детей и родителей
									.library-slider__item-title Сборник сказок «Полоска к полоске»
									.library-slider__item-desc 
										p Сборник из 10 сказок, написанных детьми: юные авторы сочиняли сказки для проекта детского издательства «Совёнок»
					.swiper-slide
						.library-slider__item
							.library-slider__item-grid 
								.library-slider__item-photo 
									+picture('lib-1','jpg')
								.library-slider__item-content
									.library-slider__item-category Для детей и родителей
									.library-slider__item-title Журнал «Мурзилка»
									.library-slider__item-desc 
										p Специальный «тигриный» номер журнала «Мурзилка», приуроченный к празднованию Дня тигра во Владивостоке.
					.swiper-slide
						.library-slider__item._gray-bg
							.library-slider__item-grid 
								.library-slider__item-photo 
									+picture('lib-2','jpg')
								.library-slider__item-content
									.library-slider__item-category Для детей и родителей
									.library-slider__item-title «У меня дома живёт амурский тигр»
									.library-slider__item-desc 
										p Сборник лучших писем и рисунков, поданных  на конкурс детских писем «Лучший урок письма»  в номинации «У меня дома живёт амурский тигр».
					.swiper-slide
						.library-slider__item._orange-bg
							.library-slider__item-grid 
								.library-slider__item-photo 
									+picture('lib-3','jpg')
								.library-slider__item-content
									.library-slider__item-category Для детей и родителей
									.library-slider__item-title Сборник сказок «Полоска к полоске»
									.library-slider__item-desc 
										p Сборник из 10 сказок, написанных детьми: юные авторы сочиняли сказки для проекта детского издательства «Совёнок»
				.library-slider__prev
					<svg  viewBox="0 0 21 15" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M7.21564 13.4953L7.75473 14.0106L8.78535 12.9324L8.24625 12.4171L7.21564 13.4953ZM2 7.47811L1.48469 6.93902L0.920719 7.47811L1.48469 8.0172L2 7.47811ZM8.24625 2.53909L8.78535 2.02378L7.75473 0.9456L7.21564 1.46091L8.24625 2.53909ZM2.51531 8.0172L8.24625 2.53909L7.21564 1.46091L1.48469 6.93902L2.51531 8.0172ZM2 8.22387H20.6256V6.73235H2V8.22387ZM8.24625 12.4171L2.51531 6.93902L1.48469 8.0172L7.21564 13.4953L8.24625 12.4171Z"   />
					</svg>
				.library-slider__next 
					<svg   viewBox="0 0 21 14" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M13.0043 12.3966L12.4652 12.9119L13.4958 13.9901L14.0349 13.4748L13.0043 12.3966ZM19.2506 7.4576L19.7659 7.99669L20.3299 7.4576L19.7659 6.91851L19.2506 7.4576ZM14.0349 1.4404L13.4958 0.925093L12.4652 2.00328L13.0043 2.51858L14.0349 1.4404ZM19.2506 6.71184H0.625V8.20336H19.2506V6.71184ZM14.0349 13.4748L19.7659 7.99669L18.7353 6.91851L13.0043 12.3966L14.0349 13.4748ZM19.7659 6.91851L14.0349 1.4404L13.0043 2.51858L18.7353 7.99669L19.7659 6.91851Z"   />
					</svg>
			.library-grid
				+library('lib-4' , category="Для широкого круга","Амурский тигр. Некоронованный властелин тайги",link="#")
				+library('' , category="Для специалистов","Сборник докладов I Тихоокеанского юридического форума",link="#")
				+library('lib-5' , category="Для специалистов","Материалы конференции «Противодействие экологическим преступлениям»",link="#")
				+library('' , category="Для специалистов","Сборник докладов I Тихоокеанского юридического форума",link="#")
				+library('lib-6' , category="Для детей и родителей","Приключения тигрёнка Амурчика",link="#")
				+library('lib-7' , category="Для детей и родителей","Сборник сказок «Тигриные истории»",link="#")
				+library('lib-8' , category="Для детей и родителей","Каталог работ выставки «Тигриная история» (категория «Дети»)",link="#")
				+library('lib-9' , category="Для широкого круга","Амурский тигр. Домыслы, легенды, факты. Том 1",link="#")
				+library('lib-4' , category="Для широкого круга","Амурский тигр. Некоронованный властелин тайги",link="#")
				+library('' , category="Для специалистов","Сборник докладов I Тихоокеанского юридического форума",link="#")
				+library('lib-5' , category="Для специалистов","Материалы конференции «Противодействие экологическим преступлениям»",link="#")
				+library('' , category="Для специалистов","Сборник докладов I Тихоокеанского юридического форума",link="#")
				+library('lib-6' , category="Для детей и родителей","Приключения тигрёнка Амурчика",link="#")
				+library('lib-7' , category="Для детей и родителей","Сборник сказок «Тигриные истории»",link="#")
				+library('lib-8' , category="Для детей и родителей","Каталог работ выставки «Тигриная история» (категория «Дети»)",link="#")
				+library('lib-9' , category="Для широкого круга","Амурский тигр. Домыслы, легенды, факты. Том 1",link="#")
				+library('lib-4' , category="Для широкого круга","Амурский тигр. Некоронованный властелин тайги",link="#")
				+library('' , category="Для специалистов","Сборник докладов I Тихоокеанского юридического форума",link="#")
				+library('lib-5' , category="Для специалистов","Материалы конференции «Противодействие экологическим преступлениям»",link="#")
				+library('' , category="Для специалистов","Сборник докладов I Тихоокеанского юридического форума",link="#")
				+library('lib-6' , category="Для детей и родителей","Приключения тигрёнка Амурчика",link="#")
				+library('lib-7' , category="Для детей и родителей","Сборник сказок «Тигриные истории»",link="#")
				+library('lib-8' , category="Для детей и родителей","Каталог работ выставки «Тигриная история» (категория «Дети»)",link="#")
				+library('lib-9' , category="Для широкого круга","Амурский тигр. Домыслы, легенды, факты. Том 1",link="#")
				+library('lib-4' , category="Для широкого круга","Амурский тигр. Некоронованный властелин тайги",link="#")
				+library('' , category="Для специалистов","Сборник докладов I Тихоокеанского юридического форума",link="#")
				+library('lib-5' , category="Для специалистов","Материалы конференции «Противодействие экологическим преступлениям»",link="#")
				+library('' , category="Для специалистов","Сборник докладов I Тихоокеанского юридического форума",link="#")
				+library('lib-6' , category="Для детей и родителей","Приключения тигрёнка Амурчика",link="#")
				+library('lib-7' , category="Для детей и родителей","Сборник сказок «Тигриные истории»",link="#")
				+library('lib-8' , category="Для детей и родителей","Каталог работ выставки «Тигриная история» (категория «Дети»)",link="#")
				+library('lib-9' , category="Для широкого круга","Амурский тигр. Домыслы, легенды, факты. Том 1",link="#")
			button.library-more.btn-1(type="button",data-filtermore) Показать ещё