header.header
	.inner
		.header__row 
			.header__logos
				a(href="front.html")  
					img(src="img/logo-1.svg", alt="").svg-load
				a(href="#")
					img(src="img/logo-2.svg", alt="").svg-load
			.header__right 
				.header__toggle-colors
					.header__toggle-color(data-toggle="white")
						<svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M1.42941 5.0014L0.572265 5.00138M9.57227 5.0014L8.71512 5.0014M5.07227 1.35855L5.06939 0.501406M5.07227 8.64426L5.06939 9.5014M2.28655 7.78712L1.42941 8.64426M1.42941 1.35855L2.28655 2.21569M7.85798 7.78712L8.71512 8.64426M8.71512 1.35855L7.85798 2.21569M5.06939 3.11566C6.11025 3.11566 6.95388 3.95983 6.95388 5.00138C6.95388 6.04292 6.11025 6.88709 5.06939 6.88709C4.02853 6.88709 3.1849 6.04292 3.1849 5.00138C3.1849 3.95983 4.02853 3.11566 5.06939 3.11566Z" stroke="currentColor" stroke-width="0.818182"/>
						</svg>

					.header__toggle-color(data-toggle="black")
						<svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M1.99219 7.75295C2.27892 7.813 2.57613 7.84458 2.88071 7.84458C5.26236 7.84458 7.19307 5.91401 7.19307 3.53254C7.19307 2.37479 6.73677 1.32362 5.99419 0.549011C8.49986 0.616819 10.5103 2.66916 10.5103 5.19101C10.5103 7.75568 8.43103 9.83475 5.86617 9.83475C4.24829 9.83475 2.82364 9.0075 1.99219 7.75295Z" stroke="currentColor"/>
						</svg>

					

				.header__search-box
					button.header__search-button
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M22 22L16.2857 16.2857M10.5714 19.1429C5.83756 19.1429 2 15.3053 2 10.5714C2 5.83756 5.83756 2 10.5714 2C15.3053 2 19.1429 5.83756 19.1429 10.5714C19.1429 15.3053 15.3053 19.1429 10.5714 19.1429Z" stroke="currentColor" stroke-width="3"/>
						</svg>
				.header__lang
					ul 
						li 
							a._active(href="/")  RU
						li 
							a(href="/")  ENG
				.header__meny-open 
					span
