.search-box
	.search-box__bg
	.inner
		.search-box__wrap
			button.search-box__close(type="button")
	 
			.search-box__wrapper 
				.search-box__input-wrap 
					input(type="text" data-url="json/result.json" placeholder="Начинте искать").search-box__input#search-input
					input(type="text" data-url="json/result.json"   disabled="disabled" ).search-box__input#search-input-x
					<svg  viewBox="0 0 47 47" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M46.272 46.2725L33.5447 33.5452M20.8175 39.9089C10.2739 39.9089 1.72656 31.3616 1.72656 20.818C1.72656 10.2743 10.2739 1.72705 20.8175 1.72705C31.3611 1.72705 39.9084 10.2743 39.9084 20.818C39.9084 31.3616 31.3611 39.9089 20.8175 39.9089Z" stroke="white" stroke-width="2"/>
					</svg>

				.search-box__result
			.search-box__puplar
				p Популярные запросы:
				ul 
					li
						a(href="/").btn-1 Кто такой тигр?
					li
						a(href="/").btn-1 Наказание за убийство тигра
					li
						a(href="/").btn-1 Сохранение Амурского тигра
					li
						a(href="/").btn-1 Как помочь тигру?