.block.big-slider(data-aos="fade-up") 
	.swiper.big-slider__main 
		.swiper-wrapper 
			.swiper-slide
				.big-slider__main-img
					+picture('slider','jpg')
				.big-slider__text Тигр в лесоохотхозяйстве «Дурминское»
			.swiper-slide
				.big-slider__main-img
					+picture('slider','jpg')
				.big-slider__text Тигр в лесоохотхозяйстве «Дурминское»
			.swiper-slide
				.big-slider__main-img
					+picture('slider','jpg')
				.big-slider__text Тигр в лесоохотхозяйстве «Дурминское»
			.swiper-slide
				.big-slider__main-img
					+picture('slider','jpg')
				.big-slider__text Тигр в лесоохотхозяйстве «Дурминское»
			.swiper-slide
				.big-slider__main-img
					+picture('slider','jpg')
				.big-slider__text Тигр в лесоохотхозяйстве «Дурминское»
			.swiper-slide
				.big-slider__main-img
					+picture('slider','jpg')
				.big-slider__text Тигр в лесоохотхозяйстве «Дурминское»
		.big-slider__main-prev
			<svg width="34" height="22" viewBox="0 0 34 22" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M11.5609 20.92L1.64085 11M1.64085 11L11.5609 1.07996M1.64085 11L33.8809 11" stroke="white" stroke-width="2"/>
			</svg>

		.big-slider__main-next
			<svg width="34" height="22" viewBox="0 0 34 22" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M22.4391 1.07998L32.3591 11M32.3591 11L22.4391 20.92M32.3591 11L0.11914 11" stroke="white" stroke-width="2"/>
			</svg>
	.swiper.big-slider__thumb
		.swiper-wrapper 
			.swiper-slide
				+picture('slider','jpg')
			.swiper-slide
				+picture('slider','jpg')
			.swiper-slide
				+picture('slider','jpg')
			.swiper-slide
				+picture('slider','jpg')
			.swiper-slide
				+picture('slider','jpg')
			.swiper-slide
				+picture('slider','jpg')
