extends ../../layout/layout
block title
	title Сохранение тигра
block content
	main(data-barba="container" data-barba-namespace="default").inner.tigr-page
		+breadcrumb(['Главная','О центре'], 'Сохранение тигра')._max-1024
		.block
			.page-top
				.page-top__bg
					+picture('save-1','jpg')
				.page-top__content 
					+breadcrumb(['Главная','О центре'], 'Сохранение тигра')._min-1024
					h1 Сохранение тигра
					p Наиболее существенным фактором, угрожающим существованию амурского тигра в России, является его прямое уничтожение
					.page-top__down.down-page
						<svg  viewBox="0 0 126 126" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path  class="down-page__circle"d="M63 1C28.7583 0.999999 1 28.7583 1 63C0.999999 97.2417 28.7583 125 63 125C97.2417 125 125 97.2417 125 63C125 28.7584 97.2417 1 63 1Z" />
							<path class="down-page__arrow" d="M72.9201 70.4401L63.0001 80.3601M63.0001 80.3601L53.0801 70.4401M63.0001 80.3601L63.0001 48.1201"  />
						</svg>
				.page-top__play
			.page-top-orange(data-speed="1.1")
				img(src="img/tigr-logo.svg",alt="#")
				p Для жителей Дальнего Востока охота — давняя традиция и важная часть уклада жизни. Только в Приморском и Хабаровском краях зарегистрировано более 130 тысяч охотников, от которых во многом зависит судьба амурского тигра.
		.block(data-aos="fade-up")
			.two-column
				.two-column__left.text 
					.h2._fw-300 Почти 80% российского ареала амурского тигра приходится на охотничьи хозяйства. На этих территориях и хищники, и охотники конкурируют за один и тот же ресурс — копытных животных.
				.two-column__right.text._gray
					p
						color Для того, чтобы конкуренция за копытных животных между тигром и человеком была честной, соблюдались порядок и правила охоты, в ареале тигра работают службы по охране объектов животного мира.
					p Именно инспекторы Служб находятся на передовой борьбыс браконьерством, угрожающим тигру и его кормовой базе, сталкиваются лицом к лицу с вооружёнными людьми в лесу один на один, без свидетелей.

		.block(data-aos="fade-up")
			.two-photo 
				.two-photo__card(data-speed="0.9")
					.two-photo__img 
						+picture('save-2','jpg') 
					.two-photo__title Тигрица в Лазовском заповеднике
				.two-photo__card(data-speed="1.1")
					.two-photo__img 
						+picture('save-3','jpg') 
					.two-photo__title Тигрица в Лазовском заповеднике
		
		.block.two-cards(data-aos="fade-up")
			.two-cards__card
				.two-cards__card-bg
					+picture('tc-1','jpg')
				.two-cards__card-content.text
					h2 Стратегия сохранения Амурского тигра
					p Свою деятельность Центр осуществляет без бюджетного финансирования, исключительно благодаря спонсорской поддержке организаций и частных лиц.
					a(href="#").btn-1 Подробнее
					a(href="#").two-cards__card-link 
						<svg width="57" height="57" viewBox="0 0 57 57" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle cx="28.5" cy="28.5" r="28.5" />
							<path d="M39.9893 18.4228H17.2295M39.9893 18.4228L17.2295 41.1826M39.9893 18.4228L39.9893 16.5L39.9893 41.1826" stroke-width="4"/>
						</svg>


			.two-cards__card
				.two-cards__card-bg
					+picture('tc-2','jpg')
				.two-cards__card-content.text
					h2 Выполнение глобальной программы по сохранению тигра
					a(href="#").btn-1 Подробнее 
					a(href="#").two-cards__card-link 
						<svg width="57" height="57" viewBox="0 0 57 57" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle cx="28.5" cy="28.5" r="28.5" />
							<path d="M39.9893 18.4228H17.2295M39.9893 18.4228L17.2295 41.1826M39.9893 18.4228L39.9893 16.5L39.9893 41.1826" stroke-width="4"/>
						</svg>
		.block.another-news(data-aos="fade-up")
			h2 Другие новости
			.news-grid
				+news('Дальневосточный институт университета прокуратуры РФ  и центр «Амурский тигр» подписали соглашение о сотрудничестве','19.01.2023', 'Новости','n-1')
				+news('Идёт отбор участников в студенческий отряд «Тигр» 2023','17.01.2023', 'Новости','n-2')
				+news('Амба вернулась в Амурскую область из Китая','11.01.2023', 'Новости','n-3',)
			.btns-center 
				a(href="news.html").btn-1 Больше новостей 
					 
