extends ../../layout/layout-wb
block title
	title Сохранение тигра
block content
	main(data-barba="container" data-barba-namespace="default").inner
		+breadcrumb(['Главная'], 'Сохранение тигра')
		h1 Выполнение глобальной программы 
			br
			| по сохранению тигра
		.block.one-img 
			+picture('global','jpg')
		.global-program.block(data-aos="fade-up")
			h2 Международная программа
			.global-program__grid
				.global-program__left 
					.global-program__nav
						.global-program__prev
							<svg  viewBox="0 0 21 15" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M7.21564 13.4953L7.75473 14.0106L8.78535 12.9324L8.24625 12.4171L7.21564 13.4953ZM2 7.47811L1.48469 6.93902L0.920719 7.47811L1.48469 8.0172L2 7.47811ZM8.24625 2.53909L8.78535 2.02378L7.75473 0.9456L7.21564 1.46091L8.24625 2.53909ZM2.51531 8.0172L8.24625 2.53909L7.21564 1.46091L1.48469 6.93902L2.51531 8.0172ZM2 8.22387H20.6256V6.73235H2V8.22387ZM8.24625 12.4171L2.51531 6.93902L1.48469 8.0172L7.21564 13.4953L8.24625 12.4171Z"   />
							</svg>
						.global-program__next 
							<svg   viewBox="0 0 21 14" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M13.0043 12.3966L12.4652 12.9119L13.4958 13.9901L14.0349 13.4748L13.0043 12.3966ZM19.2506 7.4576L19.7659 7.99669L20.3299 7.4576L19.7659 6.91851L19.2506 7.4576ZM14.0349 1.4404L13.4958 0.925093L12.4652 2.00328L13.0043 2.51858L14.0349 1.4404ZM19.2506 6.71184H0.625V8.20336H19.2506V6.71184ZM14.0349 13.4748L19.7659 7.99669L18.7353 6.91851L13.0043 12.3966L14.0349 13.4748ZM19.7659 6.91851L14.0349 1.4404L13.0043 2.51858L18.7353 7.99669L19.7659 6.91851Z"   />
							</svg>

				.global-program__right
					.global-program-slider.swiper 
						.swiper-wrapper 
							.swiper-slide.global-slide
								.global-slide__top 
									.global-slide__country Индия
									.global-slide__title
										big 2 967 
										span тигров
								a.global-slide__punishment(href="#") Наказания за убийство тигров
						
		
							.swiper-slide.global-slide
								.global-slide__top 
									.global-slide__country Индонезия 
									.global-slide__title
										big  325 
										span  тигров
								a.global-slide__punishment(href="#") Наказания за убийство тигров
							.swiper-slide.global-slide
								.global-slide__top 
									.global-slide__country Камбоджа
									.global-slide__title
										big  1 
										span тигр
								a.global-slide__punishment(href="#") Наказания за убийство тигров
							.swiper-slide.global-slide
								.global-slide__top 
									.global-slide__country  Китай
									.global-slide__title
										big  45 
										span тигров
								a.global-slide__punishment(href="#") Наказания за убийство тигров
							.swiper-slide.global-slide
								.global-slide__top 
									.global-slide__country  Лаос
									.global-slide__title
										big  1 
										span тигр 
								a.global-slide__punishment(href="#") Наказания за убийство тигров

							.swiper-slide.global-slide
								.global-slide__top 
									.global-slide__country  Малайзия
									.global-slide__title
										big  295 
										span тигров
								a.global-slide__punishment(href="#") Наказания за убийство тигров
							.swiper-slide.global-slide
								.global-slide__top 
									.global-slide__country  Мьямна
									.global-slide__title
										big  22
										span тигра
								a.global-slide__punishment(href="#") Наказания за убийство тигров
							.swiper-slide.global-slide
								.global-slide__top 
									.global-slide__country  Непал
									.global-slide__title
										big  235 
										span тигров
								a.global-slide__punishment(href="#") Наказания за убийство тигров
							.swiper-slide.global-slide
								.global-slide__top 
									.global-slide__country  Тайланд
									.global-slide__title
										big  200 
										span  тигров
								a.global-slide__punishment(href="#") Наказания за убийство тигров
						
		

		.blackzone
			.block(data-aos="fade-up")
				.text._gray._mw
					.h2 Международный форум  по проблемам, связанным с сохранением тигра на земле
					p 
						color Международный форум по проблемам, связанным с сохранением тигра на Земле («Тигровый саммит») состоялся в ноябре 2010 года в Санкт-Петербурге по инициативе Российской Федерации и Всемирного Банка. Его цель — создание глобальной системы по сохранению и восстановлению тигра в границах его исторического ареала; мобилизация всемирного общественного мнения в защиту тигров.
					p Помимо России в нем приняли участие главы 13 правительств стран, входящих в ареал тигра, а также известные политические и общественные деятели. Кроме этого к участию были приглашены представители международных организаций: Международный банк реконструкции и развития, Всемирный фонд дикой природы (WWF), ЮНЕП, Всемирный банк, Азиатский банк Развития, Немецкий банк Развития (KfW), МСОП, ГЭФ, Всемирное природоохранное общество (WCS) Лондонское зоологическое общество (LZS) и др.
			include ../../layout/component/big-slider/big-slider
			include ../../layout/component/footer/footer