extends ../../layout/layout-white
block title
	title  История здания филиала во&nbsp;Владивостоке
block content
	main(data-barba="container" data-barba-namespace="history").inner
		+breadcrumb(['Главная', 'Контакты'], 'История здания филиала во Владивостоке')
		.history.inner-big.text.block
			.history__top
				h2 История здания филиала во&nbsp;Владивостоке
				+picture('history-1','jpg')
			.history__text.inner-small 
				.h4 Общество изучения Амурского края (ОИАК) - старейшая на Дальнем Востоке общественная научно-исследовательская и краеведческая организация, ставившая своей целью «всестороннее изучение бассейна р. Амур, русского побережья Восточного Океана и сопредельных местностей» (из Устава ОИАК). Создано 	в&nbsp;1884&nbsp;г. группой представителей интеллигенции Владивостока, таких как инженер-механик флота А.М.
				p
					b Устинов, предприниматель М.Г. Шевелев, прокурор ок-ружного суда И.А. Бушуев, начальник Переселенчес-кого управления края Ф.Ф. Буссе, офицеры Л.А. Кра-поткин и И.П. Надаров. Первым крупным деянием ОИАК стало создание краеведческого музея с библиотекой научной литературы (1890). Общество проводи-ло активную экспедиционную и исследовательскую де-ятельность, издавало научные труды своих членов в виде «записок ОИАК». В разные годы его членами были такие известные ученые и исследователи края как В.П. Маргаритов, С.О. Макаров, В.К. Арсеньев, Н.П.Матвеев, В.Л. Комаров, А.И. Куренцов, Б.А. Сушков, Е.В. Краснов, Г.И. Худяков и&nbsp;другие.
				p С 1896 г. ОИАК стало Владивостокским отделением Императорского Русского географического обще-ства, в 1925 г. преобразовано в Приморский филиал Географического общества СССР. В 1991 г. восстановлено его первоначальное наименование. В 1890-1924 гг. ОИАК размещалось в здании построенного им музея. В 1925 г. музей был национализирован и получил статус городского краеведческого музея. 
				p Распорядительный комитет, библиотека и служба ОКАК перешли в дом No 4 по ул. Петра Великого, построенный в 1913-1914 гг. предпринимателем в.М. Войцеховским на земельном участке ОИАК с условием эксплуатации на арендных началах в течение 12 лет. Актом от 6 июня 1924 г. Войцеховский передал дом ОИАК.
				+picture('history-2','jpg')
				.h4 Здание - трехэтажное прямоугольное в плане с&nbsp;подвалом.  Стены подвала - из естественного камня, стены наземной части здания - кирпичные. Главный фасад здания оштукатурен и имеет несложный лепной декор в&nbsp;виде орнаментов, характерных для стиля модерн, и&nbsp;поэтажных поясков
				p Вход в здание осуществляется с высокого крыльца и ведет непосредственно в лестничную клетку. В первом этаже здания размещается библиотека ОИАК с большим читальным залом, в верхних этажах, имеющих коридорную систему планировки, правление и архив ОИАК, издательство «Рубеж».